{% spaceless %}
<!-- start detail -->
<div id="detail">
    <div class="bar">
        <div class="wrapper">
            <div class="inner">
                <div class="detail-nav detail-nav-left">
                    <button class="btn-circle" type="button">
                        <span class="eai eai-left"></span>
                    </button>
                    <span></span>
                </div>
                <div class="detail-nav detail-nav-right">
                    <button class="btn-circle" type="button">
                        <span class="eai eai-right"></span>
                    </button>
                    <span></span>
                </div>
                <div class="detail-nav detail-nav-center">
                    <button class="btn-circle" type="button">
                        <span class="eai eai-close"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="detail-document" class="document">
        <div class="wrapper">
            <div class="inner"></div>
        </div>
    </div>
</div>
<!-- end detail -->
{% endspaceless %}
