{% extends 'list_base.html' %}

{% load staticfiles %}

{% block title %}{{ block.super }} - My Feeds{% endblock %}
{% block content %}
{% spaceless %}

<div id="list" class="document">
    <div class="wrapper">
{#        <p><a href="12" data-router>Test</a></p>#}
        <div data-tabs-placeholder></div>
        <div class="inner" id="feed-container">
            <div data-list-placeholder></div>
        </div>
    </div>
</div>

<div data-detail-placeholder></div>

{% endspaceless %}
{% endblock content %}

{% block javascript %}
<script>
    requirejs(['{% static "js/config.js" %}'], function() {
        requirejs(['app/feed/list']);
    });
</script>
{% endblock javascript %}
