{% extends 'list_base.html' %}

{% load staticfiles %}

{% block title %}My Library{% endblock %}
{% block content %}
{% spaceless %}

<div id="list" class="document">
    <div class="wrapper">
        <div data-tabs-placeholder></div>
        <div class="inner">
            <div data-list-placeholder></div>
        </div>
    </div>
</div>

<div data-detail-placeholder></div>

{% endspaceless %}
{% endblock content %}

{% block javascript %}
<script>
    requirejs(['{% static "js/config.js" %}'], function() {
        requirejs(['app/paper/list']);
    });
</script>
{% endblock javascript %}
