<div class="side-panel-section journals">
    <div class="side-panel-title">
        Journals
    </div>
    <div class="side-panel-inner">
        <ul>
        {% for jpk, jtitle, count, block in journals %}
            <li class="journal" data-block="{{ block }}">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" data-journal-pk="{{ jpk }}" data-journal-title="{{ jtitle }}"
                                {% if jtitle|lower in journals_filter %} checked="checked" {% endif %}>
                        <div class="long">
                            <span title="{{ jtitle }}">{{ jtitle|truncatechars:25 }} ({{ count }})</span>
                        </div>
                    </label>
                </div>
            </li>
        {% endfor %}
        </ul>
        {% if journals_show_more %}
            <button class="show-more">show more</button>
            <button class="show-less">/show less</button>
        {% endif %}
    </div>
</div>
<div class="side-panel-section authors">
    <div class="side-panel-title">
        Authors
    </div>
    <div class="side-panel-inner">
        <ul >
        {% for auth, author_full_name, block in authors %}
            <li class="author" data-block="{{ block }}">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" data-author-pk="{{ auth.pk }}" data-author-fullname="{{ author_full_name }}"
                            {% if  auth.pk in authors_filter %} checked="checked" {% endif %}>
                        <div class="long">
                            <span title="{{ author_full_name }}">{{ author_full_name|truncatechars:35 }}</span>
                        </div>
                    </label>
                </div>
            </li>
        {% endfor %}
        </ul>
        {% if authors_show_more %}
            <button class="show-more">show more</button>
            <button class="show-less">/show less</button>
        {% endif %}
    </div>
</div>