<div class="side-panel-section time-spans">
    <div class="side-panel-title">
        Time span
    </div>
    <div class="side-panel-inner">
        <div class="time-span">
            <a href="{{ request.path }}?time-span=7" {% if time_span == 7 %} class="active" {%  endif %}>
               1 week
            </a>
        </div>
        <div class="time-span">
            <a href="{{ request.path }}?time-span=30" {% if time_span == 30 %} class="active" {%  endif %}>
               1 month
            </a>
        </div>
        <div class="time-span">
            <a href="{{ request.path }}?time-span=60" {% if time_span == 60 %} class="active" {%  endif %}>
               2 months
            </a>
        </div>
    </div>
</div>