{% extends "root.html" %}


{% load staticfiles %}


{% block title %}{{ block.super }} - Scholarly Discovery Made Easy(er){% endblock %}


{% block body %}
{% spaceless %}
<div id="hero" class="wrap-container">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h1>
                    <img alt="Etalia" src="{% static 'img/logo_beta.svg' %}">
                </h1>
            </div>
            <div class="col-md-7">
                <h2>Delivering Scholarly Communication</h2>
                <ul>
                    <li>Receive personalized literature</li>
                    <li>Join focused discussions</li>
                    <li>Connect with your peers</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="wrap-container providers">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="h3">Sign-in with your reference manager</p>
                <p>
                    <a href="{% url 'social:begin' backend='mendeley' %}" class="btn-provider">
                        <span class="eai eai-mendeley"></span>
                        Mendeley
                    </a>
                    <a href="{% url 'social:begin' backend='zotero' %}" class="btn-provider">
                        <span class="eai eai-zotero"></span>
                        Zotero
                    </a>
                </p>
                <p id="orcid" class="h4">
                    Don't have a Zotero or Mendeley account? Join with
                    <a href="{% url 'social:begin' backend='orcid' %}">
                        ORCID
                        <span class="eai eai-orcid"></span>
                    </a>

                </p>
                <p id="glimpse" class="h4">
                    Just curious? Have a peak at what's <a href="{% url 'library:papers' %}">trending</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div id="what" class="wrap-container">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-push-6">
                <p>
                    A platform for scholars that enables literature searches
                    and enables scholarly dialogues based on the content of your reference manager
                    and the papers you write.
                </p>
            </div>
        </div>
    </div>
</div>


<div class="divider-container"></div>
<!--<div id="how" class="wrap-container">-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-md-12">-->
                <!--&lt;!&ndash;<p class="h2">How does it work?</p>&ndash;&gt;-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div class="wrap-container how">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>It connects to your library...</h2>
                <p>
                    etalia works in synchronization with your reference
                    library to identify your interests.
                </p>
                <p class="alt">
                    <a href="https://www.zotero.org/">Zotero</a> or
                    <a href="https://www.mendeley.com/">Mendeley</a> are currently supported. <br>Both are free and support <a href="https://en.wikipedia.org/wiki/OAuth">3<sup>rd</sup>-party authentication</a>.
                </p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="{% static 'img/bubble_2.png' %}" alt="reference manager software hook to etalia">
            </div>
        </div>
    </div>
</div>

<div class="wrap-container how alt">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-push-6">
                <h2>...builds personalized feeds...</h2>
                <p>
                    Based on your interests, etalia builds personalized
                    feeds of relevant publications and discussions.
                </p>
                <p class="alt">
                    Changing interests or exploring a new field?
                    etalia dynamically adapts.
                </p>
            </div>
            <div class="col-md-6 col-md-pull-6">
                <img class="img-responsive" src="{% static 'img/bubble_1.png' %}" alt="Cloud of publications">
            </div>
        </div>
    </div>
</div>

<div class="wrap-container how">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>...leverages text-mining tools...</h2>
                <p>
                    etalia text-mining technology is based on
                    natural language processing and machine learning.
                </p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="{% static 'img/bubble_4.png' %}" alt="Tools at work">
            </div>
        </div>
    </div>
</div>

<div class="wrap-container how alt">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-push-6">
                <h2>...lets you engage in collaborative science...</h2>
                <p>
                    etalia lets you connect with other researchers
                    who share your interests.
                </p>
                <p class="alt">
                    Stuck in your research or in need of insights? Post your question and etalia will find researchers with the right expertise.
                </p>
            </div>
            <div class="col-md-6 col-md-pull-6">
                <img class="img-responsive" src="{% static 'img/bubble_3.png' %}" alt="Cloud of publications">
            </div>
        </div>
    </div>
</div>

<div class="wrap-container how">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>...integrates third party metrics.</h2>
                <p>
                    etalia uses 3<sup>rd</sup> party publications metrics, like <a href="https://www.altmetric.com">Altmetric</a>, to
                    improve its recommendations.
                </p>
                <p class="alt">
                    Always wondered what is the trendiest paper of the month? <br>
                    etalia can give you some <a href="{% url 'library:papers' %}">insights</a>.
                </p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="{% static 'img/bubble_altmetric.png' %}" alt="Metrics at work">
            </div>
        </div>
    </div>
</div>

<div class="divider-container"></div>

<div id="supported-by" class="wrap-container how">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>
                    Supported by
                </h2>
            </div>
            <div class="col-md-6">
                <a href="https://www.digital-science.com/">
                <img class="img-responsive supported-img" src="{% static 'img/catalyst_grant.png' %}" alt="Catalyst Grant">
                </a>
            </div>
        </div>
    </div>
</div>

<div class="divider-container"></div>

<div id="focus" class="wrap-container">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span id="sync"></span>
                <p class="h2">Sync</p>
                <p>Your reference library</p>
            </div>
            <div class="col-md-4">
                <span id="streams"></span>
                <p class="h2">Get focus</p>
                <p>On what matters to you</p>
            </div>
            <div class="col-md-4">
                <span id="trends"></span>
                <p class="h2">Engage</p>
                <p>In scholarly communication</p>
            </div>
        </div>
    </div>
</div>

<div class="wrap-container providers">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="h3">Sign-up</p>
            </div>
            <p>
                <a href="{% url 'social:begin' backend='mendeley' %}" class="btn-provider">
                    <span class="eai eai-mendeley"></span>
                    Mendeley
                </a>
                <a href="{% url 'social:begin' backend='zotero' %}" class="btn-provider">
                    <span class="eai eai-zotero"></span>
                    Zotero
                </a>
            </p>
        </div>
    </div>
</div>


<div id="footer" class="wrap-container">
    <div class="container">
        <ul>
            <li>
                <a href="{% url 'core:about' %}">About</a>
            </li>
            <li>
                <a href="{% url 'library:papers' %}">Trending Now</a>
            </li>
            <li>
                <a href="http://blog.etalia.org">Blog</a>
            </li>
            <li>
                <a href="{% url 'core:contact' %}">Contact</a>
            </li>
            <li>
                <a href="{% url 'core:support' %}">Support</a>
            </li>
            <li>
                <a href="{% url 'core:press' %}">Press</a>
            </li>
            <li>
                <a href="{% url 'core:terms_use' %}">Terms</a>
            </li>
            <li>
                <a href="{% url 'core:terms_privacy' %}">Privacy</a>
            </li>
        </ul>
        <div class="socials">
            <a href="https://twitter.com/etaliaio" target="_blank" class="twitter">
                <span class="eai eai-twitter"></span>
            </a>
            <a href="https://www.facebook.com/etalia.org" target="_blank" class="facebook">
                <span class="eai eai-facebook"></span>
            </a>
            <a href="https://plus.google.com/+EtaliaIo" target="_blank" class="google-plus">
                <span class="eai eai-google-plus"></span>
            </a>
        </div>
        <p>&copy; {% now "Y" %} Etalia, Inc. All rights reserved.</p>
    </div>
</div>
{% endspaceless %}
{% endblock body %}


{% block stylesheets %}
{% spaceless %}
{{ block.super }}
{% if environment == 'production' %}
<link href="{% static 'css/landing.css' %}" rel="stylesheet" type="text/css">
{% else %}
<link href="{% static 'css/app/landing.css' %}" rel="stylesheet" type="text/css">
{% endif %}
{% endspaceless %}
{% endblock stylesheets %}
