{% spaceless %}
<!DOCTYPE html>

{% load staticfiles %}
{% load ui_goodies %}

{% with brand="Etalia" %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{{ brand }}{% endblock %}</title>

    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,700italic,400italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>


    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicons/apple-touch-icon.png' %}" />
    <link rel="icon" type="image/png" href="{% static 'img/favicons/favicon-32x32.png' %}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{% static 'img/favicons/favicon-16x16.png' %}" sizes="16x16" />
    <link rel="manifest" href="{% static 'img/favicons/manifest.json' %}" />
    <link rel="mask-icon" href="{% static 'img/favicons/safari-pinned-tab.svg' %}" color="#5bbad5" />
    <link rel="shortcut icon" href="{% static 'img/favicons/favicon.ico' %}" />
    <meta name="msapplication-config" content="{% static 'img/favicons/browserconfig.xml' %}" />
    <meta name="theme-color" content="#ffffff">

    {% if environment == 'production' %}
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
    {% else %}
    <link href="{% static 'css/etal-icons.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/lib/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/lib/jquery-ui.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/lib/select2.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/app/content.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/app/root.css' %}" rel="stylesheet" type="text/css">
    {% endif %}

    {% block stylesheets %}{% endblock stylesheets %}

    <!--[if lt IE 9]>
    <script src="{% static 'js/lib/ie9.js' %}"></script>
    <![endif]-->
</head>
<body {% if busy_url %}data-busy-check={{ busy_url }}{% endif %} data-user-id="{{ user.id }}" data-controls-states='{{ control_states|safe }}'>

{% block body %}{% endblock body %}

<div id="backdrop"></div>
<div id="busy-backdrop">
    <div id="busy-modal">
        {% show_loading 'sk-cube-grid' %}
        <p>Please&nbsp;wait&hellip;</p>
        <div id="busy-content"></div>
    </div>
</div>

{% if environment == 'production' %}
<!-- begin userlike code -->
<script>
    var userlikeData = {};
    userlikeData.user = {};
    userlikeData.user.name= "{{ user.first_name }} {{ user.last_name }}";
    userlikeData.user.email = "{{ user.email }}";
</script>
{#<script type="text/javascript" src="//userlike-cdn-widgets.s3-eu-west-1.amazonaws.com/c9ac5d10d017cd983dedce8234673ff2038cb737309a7aa83e818e5e9b924fc5.js"></script>#}
<!-- end userlike code -->
{% endif %}

<script src="{% static 'js/require.js' %}"></script>
{% block javascript %}
<script>
    requirejs(['{% static "js/config.js" %}'], function() {
        requirejs(['app/default']);
    });
</script>
{% endblock javascript %}

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-72708308-2', 'auto');
    ga('send', 'pageview');
</script>

</body>
</html>
{% endwith %}
{% endspaceless %}
