<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml" style="font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;">&#13;
<head>&#13;
<meta name="viewport" content="width=device-width" />&#13;
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />&#13;
<title>PubStream | Invitation</title>&#13;
&#13;
&#13;
</head>&#13;
 &#13;
<body bgcolor="#f6f6f6" style="font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 100%; line-height: 1.6; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%; margin: 0; padding: 0;">&#13;
&#13;
<!-- body -->&#13;
<table class="body-wrap" style="font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 100%; line-height: 1.6; width: 100%; margin: 0; padding: 20px;">&#13;
	<tr style="font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;">&#13;
		<td style="font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;"></td>&#13;
		<td class="container" bgcolor="#FFFFFF" style="font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 100%; line-height: 1.6; display: block !important; max-width: 600px !important; clear: both !important; margin: 0 auto; padding: 0; border: 1px solid #f0f0f0;">&#13;
&#13;
			<!-- content -->&#13;
			<div class="content" style="font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 100%; line-height: 1.6; max-width: 600px; display: block; margin: 0 auto; padding: 20px;">&#13;
			<table style="font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 100%; line-height: 1.6; width: 100%; margin: 0; padding: 0;">&#13;
				<tr style="font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;">&#13;
					<td style="font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;">&#13;
						<p class="lead" style="font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 18px; line-height: 1.6; font-weight: 400; margin: 0 0 10px; padding: 0;">&#13;
                            I am sending you this invitation to try <span class="bold" style="font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 100%; line-height: 1.6; font-weight: 500; margin: 0; padding: 0;">&#13;
                            PubStream,</span> a new way of publications searches.&#13;
                            Here is more information about PubStream.&#13;
                        </p>&#13;
                        <hr class="divider" style="font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 100%; line-height: 1.6; border-top-style: none; border-bottom-width: 1px; border-bottom-color: #e7e7e7; border-bottom-style: solid; margin: 20px 0; padding: 0;" />&#13;
                        <img class="pubstream-logo" src="{{ bucket_url }}/mark_v8.png" alt="PubStream Logo" style="font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 100%; line-height: 1.6; max-width: 100%; max-height: 70px; display: block; margin: 0 auto; padding: 0;" />&#13;
						<h2 style="font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 28px; line-height: 1.2; color: #000; font-weight: 200; text-align: center; margin: 20px 0 15px; padding: 0;" align="center"> Your personal guide to scientific news </h2>&#13;
                        <p class="follow" style="font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 16px; line-height: 1.6; font-weight: 400; margin: 0 0 10px; padding: 0;">&#13;
                            PubStream delivers scientific news that matches your&#13;
                            <span class="bold" style="font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 100%; line-height: 1.6; font-weight: 500; margin: 0; padding: 0;">personalized interest</span>, completely&#13;
                            <span class="bold" style="font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 100%; line-height: 1.6; font-weight: 500; margin: 0; padding: 0;">automated</span>&#13;
                            and ranked by <span class="bold" style="font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 100%; line-height: 1.6; font-weight: 500; margin: 0; padding: 0;">relevance</span>,&#13;
                            saving you time and ensuring no relevant paper is missed.&#13;
                        </p>&#13;
                        <p class="follow" style="font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 16px; line-height: 1.6; font-weight: 400; margin: 0 0 10px; padding: 0;">&#13;
                            With PubStream, you don’t have to setup keywords for&#13;
                            searches or manually browse journal websites.&#13;
                            Nor do you need to maintain automated searches by&#13;
                            topics or authors that become outdated or to sort&#13;
                            through search results to find the most relevant publications.&#13;
                        </p>&#13;
                        <hr class="divider" style="font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 100%; line-height: 1.6; border-top-style: none; border-bottom-width: 1px; border-bottom-color: #e7e7e7; border-bottom-style: solid; margin: 20px 0; padding: 0;" />&#13;
                        <table style="font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 100%; line-height: 1.6; width: 100%; margin: 0; padding: 0;">&#13;
                            <tr style="font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;">&#13;
                                <td style="font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;">&#13;
                                    <img class="what-img" src="{{ bucket_url }}/library.png" alt="Stream" style="font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 100%; line-height: 1.6; max-width: 100%; max-height: 70px; display: block; margin: 0 auto; padding: 0;" />&#13;
                                </td>&#13;
                                <td style="font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;">&#13;
                                    <img class="what-img" src="{{ bucket_url }}/img/stream.png" alt="Trend" style="font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 100%; line-height: 1.6; max-width: 100%; max-height: 70px; display: block; margin: 0 auto; padding: 0;" />&#13;
                                </td>&#13;
                                <td style="font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;">&#13;
                                    <img class="what-img" src="{{ bucket_url }}/img/trend.png" alt="library" style="font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 100%; line-height: 1.6; max-width: 100%; max-height: 70px; display: block; margin: 0 auto; padding: 0;" />&#13;
                                </td>&#13;
                            </tr>&#13;
                            <tr style="font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;">&#13;
                                <td class="img-title" style="font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 18px; line-height: 1.6; text-align: center; font-weight: 200; margin: 0; padding: 10px 0 0;" align="center">&#13;
                                    Your Library&#13;
                                </td>&#13;
                                <td class="img-title" style="font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 18px; line-height: 1.6; text-align: center; font-weight: 200; margin: 0; padding: 10px 0 0;" align="center">&#13;
                                    Your Stream&#13;
                                </td>&#13;
                                <td class="img-title" style="font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 18px; line-height: 1.6; text-align: center; font-weight: 200; margin: 0; padding: 10px 0 0;" align="center">&#13;
                                    Your Trend&#13;
                                </td>&#13;
                            </tr>&#13;
                        </table>&#13;
&#13;
&#13;
&#13;
                        <hr class="divider" style="font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 100%; line-height: 1.6; border-top-style: none; border-bottom-width: 1px; border-bottom-color: #e7e7e7; border-bottom-style: solid; margin: 20px 0; padding: 0;" />&#13;
                        <h2 style="font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 28px; line-height: 1.2; color: #000; font-weight: 200; text-align: center; margin: 20px 0 15px; padding: 0;" align="center"> How it works </h2>&#13;
                        <p class="follow" style="font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 16px; line-height: 1.6; font-weight: 400; margin: 0 0 10px; padding: 0;">&#13;
                            PubStream fetches what you are reading by connecting to your&#13;
                            reference software manager (e.g. <a href="http://www.zotero.org/" style="font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 100%; line-height: 1.6; color: #348eda; margin: 0; padding: 0;">Zotero</a> or&#13;
                            <a href="http://www.mendeley.com/" style="font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 100%; line-height: 1.6; color: #348eda; margin: 0; padding: 0;">Mendeley</a>). PubStream leverages&#13;
                            the content of <span class="bold" style="font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 100%; line-height: 1.6; font-weight: 500; margin: 0; padding: 0;">your library</span> using recent advances in natural&#13;
                            language processing, machine learning, and statistics to understand your interests&#13;
                            and to build <span class="bold" style="font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 100%; line-height: 1.6; font-weight: 500; margin: 0; padding: 0;">news streams that match your personal interests</span>.&#13;
                        </p>&#13;
                        <p class="follow" style="font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 16px; line-height: 1.6; font-weight: 400; margin: 0 0 10px; padding: 0;">&#13;
                            Reading a new paper or extending your research interests?&#13;
                            PubStream will automatically adapt.&#13;
                        </p>&#13;
                        <hr class="divider" style="font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 100%; line-height: 1.6; border-top-style: none; border-bottom-width: 1px; border-bottom-color: #e7e7e7; border-bottom-style: solid; margin: 20px 0; padding: 0;" />&#13;
						<div class="center" style="font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 100%; line-height: 1.6; text-align: center; margin: 0; padding: 0;" align="center">&#13;
                            <a href="{%  url 'core:home' %}" class="btn-primary" style="font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 100%; line-height: 1.6; color: #FFF; text-decoration: none; font-weight: bold; text-align: center; cursor: pointer; display: inline-block; border-radius: 25px; background-color: #348eda; margin: 20px 10px 20px 0; padding: 10px 20px;">Try it now</a>&#13;
                        </div>&#13;
					</td>&#13;
				</tr>&#13;
			</table>&#13;
			</div>&#13;
			<!-- /content -->&#13;
									&#13;
		</td>&#13;
		<td style="font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;"></td>&#13;
	</tr>&#13;
</table>&#13;
<!-- /body -->&#13;
&#13;
<!-- footer -->&#13;
<table class="footer-wrap" style="font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 100%; line-height: 1.6; width: 100%; clear: both !important; margin: 0; padding: 0;">&#13;
	<tr style="font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;">&#13;
		<td style="font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;"></td>&#13;
		<td class="container" style="font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 100%; line-height: 1.6; display: block !important; max-width: 600px !important; clear: both !important; margin: 0 auto; padding: 0;">&#13;
			<!-- content -->&#13;
			<div class="content" style="font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 100%; line-height: 1.6; max-width: 600px; display: block; margin: 0 auto; padding: 20px;">&#13;
				<table style="font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 100%; line-height: 1.6; width: 100%; margin: 0; padding: 0;">&#13;
					<tr style="font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;">&#13;
						<td align="center" style="font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;">&#13;
							<p style="font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 12px; line-height: 1.6; color: #666; font-weight: normal; margin: 0 0 10px; padding: 0;">If you don’t want this invitation, pass it on to a friend by forwarding this email.&#13;
                                Google will not send you marketing messages because you received this invitation..&#13;
							</p>&#13;
						</td>&#13;
					</tr>&#13;
				</table>&#13;
			</div><!-- /content -->&#13;
		</td>&#13;
		<td style="font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;"></td>&#13;
	</tr>&#13;
</table>&#13;
<!-- /footer -->&#13;
&#13;
</body>&#13;
</html>
