<div data-user-thumb></div>

<div class="comment-content element-content">
    {{content}}
</div>
<p class="comment-info element-info">
    <strong>{{full_name user}}</strong> - <em>Sep 25, 2015</em>
    {{#if is_owner}}
    - <a href="javascript: void(0)" class="comment-edit">edit</a>
    - <a href="javascript: void(0)" class="comment-delete">delete</a>
    {{/if}}
</p>

<div data-comment-edit-form></div>
