<div>
    Your Feeds page is your scientific control tower
</div>
<div>
    <img class="img-responsive" src="{% static '/static/img/feed_tabs_example.png' %}" alt="Example of the tabs in the feeds page">
</div>
<div>
    You can interact with each scientific publication in different ways
</div>
<div>
    <img class="img-responsive" src="{% static '/static/img/paper_thumb_example.png' %}" alt="Illustration of the paper thumb">
</div>
<div>
    Same is true for each scientific discussion and comments on papers
</div>
<div>
    <img class="img-responsive" src="{% static '/static/img/thread_thumb_example.png' %}" alt="Illustration of the thread thumb">
</div>