<div style="font-family: 'Shadows Into Light', Helvetica, Arial, sans-serif; font-size: 24px; text-align: center; color: #ff6904;">
    <div>
        <p>
            We could not find any publications in <br>
            your Reference Software Manager.
        </p>
    </div>
    <div>
        <p>
            Etalia will <span style="color: #ff151a">needs</span> to know what publications your read <br>
            to define your interests. Please, add some to your reference manager.
        </p>
    </div>
</div>
