<div style="font-family: 'Shadows Into Light', Helvetica, Arial, sans-serif; font-size: 24px; text-align: center; color: #ff6904;">
    <div>
        <p>
            You have <span style="color: #ff151a"> no </span>publications in <br>
            your Reference Software Manager!
        </p>
    </div>
    <div>
        <p>
            Etalia will <span style="color: #ff151a">not work</span>without papers in your library. <br>
            This is how we define your interests. Start by adding some.
        </p>
    </div>
</div>
