{% extends 'layout.html' %}


{% load staticfiles %}


{% block title %}{{ block.super }} - New Thread{% endblock %}


{% block content %}
{% spaceless %}
<div class="document">
    <div id="signup-form">
        <form role="form" method="POST" data-async action="{% url 'threads:create' %}">
            {% csrf_token %}
            <span id="id_errors"></span>

            <div class="form-inner">
                {% for field in form %}
                <div class="form-group">
                    {% if not field.is_hidden %}
                    {{ field.label_tag }}
                    {% endif %}
                    {{ field }}
                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}

                </div>
                {% endfor %}
            </div>

            <div class="text-center submit">
                <button id="signup" type="submit" class="btn btn-primary btn-lg">Post</button>
            </div>
        </form>
    </div>
</div>
{% endspaceless %}
{% endblock content %}


{% block javascript %}
<script>requirejs(['app/user/signup']);</script>
{% endblock javascript %}

