<div class="modal in display" id="loading-lib-modal">
    <div class="modal-body">
        <div class="sk-spinner sk-spinner-three-bounce">
           <div class="sk-bounce1"></div>
           <div class="sk-bounce2"></div>
           <div class="sk-bounce3"></div>
        </div>
        <h3>Initializing your account</h3>
        <h2 id="user-lib-count-papers">{{ user.lib.count_papers }}</h2>
        <h3>Syncing your library</h3>
    </div>
</div>
<div class="modal-backdrop fade in" id="loading-lib-modal-backdrop"></div>