<button id="toggle-cluster" class="btn-circle" type="button">
    <span id="cluster-selection" class="cluster-value cluster-{{cluster}}"></span>
    <span id="cluster-none" class="cluster-icon">
        <span class="cluster-0"></span>
        <span class="cluster-1"></span>
        <span class="cluster-2"></span>
        <span class="cluster-3"></span>
    </span>
</button>
<div class="choices">
    <ul>
        <li>
            <a href="javascript: void(0)" class="cluster-value cluster-0" data-value="1"></a>
        </li>
        <li>
            <a href="javascript: void(0)" class="cluster-value cluster-1" data-value="2"></a>
        </li>
        <li>
            <a href="javascript: void(0)" class="cluster-value cluster-2" data-value="3"></a>
        </li>
        <li>
            <a href="javascript: void(0)" class="cluster-value cluster-3" data-value="4"></a>
        </li>
        <li>
            <a href="javascript: void(0)" class="cluster-value cluster-none" data-value="0">
                <span class="cluster-icon">
                    <span class="cluster-0"></span>
                    <span class="cluster-1"></span>
                    <span class="cluster-2"></span>
                    <span class="cluster-3"></span>
                </span>
            </a>
        </li>
    </ul>
</div>
