<button id="close-search" class="btn-circle" type="button">
    <span class="eai eai-close"></span>
</button>
<form id="search-bar" onsubmit="return false;">
    <button type="submit">
        <span class="eai eai-search"></span>
    </button>
    <label for="search-input">
        <input type="text" id="search-input" name="search" placeholder="Search...">
    </label>
</form>
