<div class="actions">
    <a href="javascript: void(0)" class="thumb-pin{{thread_pin_class}}" title="Pin/Unpin">
        <span class="eai eai-pin"></span>
    </a>
    <a href="javascript: void(0)" class="thumb-ban{{thread_ban_class}}" title="Remove from my threads">
        <span class="eai eai-remove"></span>
    </a>
</div>
<div class="card">
    <div data-user-placeholder></div>
    <p class="title">
        <a href="javascript: void(0)">
            {{thread_privacy_icon}}
            {{title}}
        </a>
    </p>
    <div class="infos">
        <p class="truncate">
            {{#if paper}}{{paper_title_authors paper}}{{/if}}
            <em>{{date created}}</em>
        </p>
        <p class="icons">
            <span class="type">
                {{thread_type_icon}}
            </span>
            <span class="comment">
                <span class="count">{{posts_count}}</span>
                <span class="eai eai-comment"></span>
            </span>
            <span class="member">
                <span class="count">{{members_count}}</span>
                <span class="eai eai-user"></span>
            </span>
        </p>
    </div>
</div>
