.card {
    overflow: hidden;
}

.card .title {
    font-size: 20px;
    line-height: 24px;
    color: #1e232f;
    margin: 0 0 8px 0;
}

.card .title a {
    color: #1e232f;
}
.card .title a:hover {
    color: #6b6d70;
    text-decoration: none;
}

.card .authors {
    font-size: 15px;
    line-height: 18px;
    color: #6b6d70;
    margin-bottom: 8px;
}

.card .authors strong {
    color: #00695c;
}

.card .journal {
    font-size: 14px;
    line-height: 18px;
    color: #86b5b0;
    font-weight: 700;
    margin-bottom: 8px;
}

.card .date {
    font-size: 14px;
    line-height: 32px;
    color: #86b5b0;
    float: left;
}

.card .icons {
    float: right;
    height: 32px;
    width: 116px;
}

.card .icons > span {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-left: 10px;
    float: right;
}

.card .icons > span:last-child {
    margin-left: 0;
}

.card .comment {
    background-color: #ffffff;
    border: 1px solid #cbced1;
    border-radius: 16px;
    color: #6b6d70;
    font-size: 20px;
    line-height: 32px;
    position: relative;
    text-align: center;
}

.card .comment .count {
    background-color: #ffffff;
    border: 1px solid #cbced1;
    border-radius: 9px;
    bottom: -3px;
    color: #6b6d70;
    display: block;
    font-size: 10px;
    height: 18px;
    left: -3px;
    line-height: 15px;
    position: absolute;
    width: 18px;
}

.card .cluster-icon span {
    width: 15px;
    height: 15px;
}

.card .cluster-icon span {
    border-radius: 15px 0 0 0;
}

.card .cluster-icon span + span {
    border-radius: 0 15px 0 0;
}

.card .cluster-icon span + span + span {
    border-radius: 0 0 15px 0;
}

.card .cluster-icon span + span + span + span {
    border-radius: 0 0 0 15px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .card .journal {
        float:left;
        line-height: 32px;
        height: 32px;
        width: 56%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .card .date, .icons {
        float:left;
        width: 22%;
    }
}
