.signup-forms {
    padding-top: 50px;
}

.signup-forms label {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.signup-forms .submit {
    padding-top: 20px;
}

.signup-forms *,
.modal * {
    border-radius: 0 !important;
}

.signup-forms .title {
    padding-bottom: 20px;
}

.signup-forms ul.errorlist>li {
    list-style: none;
}

.signup-forms .error-message {
    padding-bottom: 20px;
    text-align:center;
}

.signup-forms input {
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid #000000;
    box-shadow: none;
    outline: none;
}

.signup-forms input:focus {
    box-shadow: none;
    outline: none;
}

#profile {
    padding-top: 100px;
    padding-bottom: 100px;
}

#profile .empty {
    display: inline-block;
    color: #7f7f7f;
    font-style: italic;
}

#profile .avatar img{
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
    border-radius: 50%;
}

#profile .avatar-upload-form label{
    display: none;
}

#profile .btn-file {

    position: relative;
    overflow: hidden;
}
#profile .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#profile .btn-file-section {
    padding-bottom: 10px;
}

#settings .title,
#profile .title {
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
}

#settings .edit,
#profile .edit {
    font-size: 14px;
    font-weight: 400;
    padding-right: 10px;
    padding-left: 10px;
    color: rgba(127, 127, 127, 0.4);
}

#settings .edit:focus,
#profile .edit:focus {
    outline: 0;
}

#settings {
    padding-top: 100px;
    padding-bottom: 100px;
}


.modal label {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
}

.form-control::-webkit-input-placeholder { color: rgba(128, 128, 128, 0.5); }
.form-control:-moz-placeholder { color: rgba(128, 128, 128, 0.5); }
.form-control::-moz-placeholder { color: rgba(128, 128, 128, 0.5); }
.form-control:-ms-input-placeholder { color: rgba(128, 128, 128, 0.5); }


.invite-form {
    padding-top: 50px;
}

.invite-form label {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.invite-form .submit {
    padding-top: 20px;
}

.invite-form *,
.modal * {
    border-radius: 0 !important;
}

.invite-form .title {
    padding-bottom: 20px;
}

.invite-form ul.errorlist>li {
    list-style: none;
}

.invite-form .error-message {
    padding-bottom: 20px;
    text-align:center;
}

.invite-form input {
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid #000000;
    box-shadow: none;
    outline: none;
}

.invite-form input:focus {
    box-shadow: none;
    outline: none;
}

.invite-success {
    padding-top: 50px;
}

.fade {
opacity: 0;
-webkit-transition: opacity 0.1s linear;
  -moz-transition: opacity 0.1s linear;
   -ms-transition: opacity 0.1s linear;
    -o-transition: opacity 0.1s linear;
       transition: opacity 0.1s linear;
}

#stream_vector_weight_slider .slider-selection,
#stream_author_weight_slider .slider-selection,
#stream_journal_weight_slider .slider-selection,
#trend_doc_weight_slider .slider-selection,
#trend_altmetric_weight_slider .slider-selection
{
	background: #BABABA;
}

.form-rows {
    padding-top: 10px;
    padding-bottom: 10px;
}

.blurb {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
