{% extends 'feeds/base.html' %}

{% load staticfiles %}
{% load disqus_tags %}
{% load user_taste %}

{% block content %}
{% spaceless %}

    <!-- start list -->
    <div id="list" class="document" data-load-url="{% url 'feeds:trend_xml' %}">
        <div class="wrapper">
            <div class="inner">
                <p class="list-title">
                    <span>{{ number_of_papers }}</span> trending publications suggested for you
                </p>

                <div class="endless_data thumb-list">
                    {% include page_template %}
                </div>
            </div>
        </div>
    </div>
    <!-- end list -->

    {% include 'feeds/detail.html' %}

{% endspaceless %}
{% endblock content %}
