{% extends 'base.html' %}

{% load staticfiles %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/core.css' %}" type="text/css" >
{% endblock %}

{% block head %}
{% endblock head %}

{% block title %} PubStream | About{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="about">
                <h2>The Story</h2>
                    <p class="lead">
                        PubStream was conceived by two scientists at the University of
                        California, San Francisco in 2015, who felt a need for automated
                        literature searches that save time, are personalized, and never
                        miss an important publication from an ever increasing variety of
                        news sources. PubStream came to life as a web application.
                    </p>
                <h2>A new way of searches</h2>
                    <p class="lead">
                        With PubStream, you don’t have to setup keywords for searches
                        or manually brows journal websites and blogs. You also don’t
                        have to maintain automated searches by topics or authors that
                        quickly become outdated. Nor do you need to sort through search
                        results to find the most relevant publications in your fields of
                        interest. <br>PubStream delivers scientific news that match your personalized
                        interest, completely automated and ranked by relevance, saving
                        you time and ensuring no relevant paper is missed.
                    </p>
                <h2>Our Vision</h2>
                    <p class="lead">
                        With PubStream, we intend to facilitate this search process,
                        saving researchers time and making sure they are not missing
                        any important findings. By leveraging the content of reference
                        software library with recent advances in natural language
                        processing and machine learning, PubStream builds a scientific
                        news stream that match your personalized interests. Changing
                        your interests? PubStream will automatically adapt.
                    </p>
                <h2>Many tools in one place</h2>
                    <p class="lead">
                    </p>
                <h2>Discover</h2>
                    <p class="lead">
                    </p>
                <h2>The Team</h2>
                    <p class="lead">
                        Norbert Schuff, Co-founder, Professor of Radiology, UCSF
                        Nicolas Pannetier, Co-founder, Physicist, Developer
                    </p>

                <h2>Contact Us</h2>
                <a name="contact"></a>
                    <p class="lead">
                    contact@pubstream.io
                    </p>
            </div>
        </div>
    </div>
</div>


{% endblock %}