{% extends 'base.html' %}

{% load staticfiles %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/core.css' %}" type="text/css" >
{% endblock %}

{% block head %}
{% endblock head %}

{% block title %} PubStream | About{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-2 hidden-sm hidden-xs">
            {% include 'core_side.html' %}
        </div>
        <div class="col-md-8">
            <div class="about">
                <h2>The Story</h2>
                <p class="lead">
                    <span class="pub">Pub</span><span class="stream">Stream</span>
                    was conceived by two scientists at the University
                    of California, San Francisco in 2015, who felt a need for
                    automated literature searches that save time, are personalized,
                    and never miss an important publication from an ever increasing
                    variety of news sources. <span class="pub">Pub</span><span class="stream">Stream</span>
                    came to life as a web application.
                </p>
                <h2>A new way of searches</h2>
                <p class="lead">
                    With <span class="pub">Pub</span><span class="stream">Stream</span>,
                    you don’t have to setup keywords for searches or
                    manually browse journal websites and blogs. You also don’t have
                    to maintain automated searches by topics or authors that quickly
                    become outdated. Nor do you need to sort through search results
                    to find the most relevant publications in your fields of interest.<br>
                </p>
                <p class="lead">
                    <span class="pub">Pub</span><span class="stream">Stream</span>
                    delivers scientific news that matches your personalized interest,
                    completely automated and ranked by relevance, saving you time and
                    ensuring no relevant paper is missed.
                </p>
                <h2>How it works</h2>
                <p class="lead">
                    <span class="pub">Pub</span><span class="stream">Stream</span>
                    checks what you are reading in your Reference Library.
                    <span class="pub">Pub</span><span class="stream">Stream</span>
                    leverages the content of your library using recent advances
                    in natural language processing, machine learning, and statistics
                    to understand your interests. <span class="pub">Pub</span><span class="stream">Stream</span>
                    builds news streams that
                    match your personal interests based on your library text content.
                    Reading a new paper or extending your research interests?
                    <span class="pub">Pub</span><span class="stream">Stream</span>
                    will automatically adapt.
                </p>
                <h2>Many tools in one place</h2>
                <p class="lead">
                    With <span class="pub">Pub</span><span class="stream">Stream</span>,
                    you can retrieve new publications from journals, upload them to your
                    library, share them with friends and collaborators via social media, and more.
                </p>
                <h2>Discover</h2>
                <p class="lead">
                    <span class="pub">Pub</span><span class="stream">Stream</span>
                    lets you discover trending publications and hot topics in your
                    area of interest and beyond based on the <a href="http://www.altmetric.com/">Altmetric</a> score.
                </p>
                <h2>The Team</h2>
                    <p class="lead">
                        Norbert Schuff, Co-founder, Professor of Radiology, UCSF
                        Nicolas Pannetier, Co-founder, Physicist, Developer
                    </p>
                <h2>News</h2>
                <a name="news"></a>
                <p class="lead">
                    <span class="pub">Pub</span><span class="stream">Stream</span> is in early Beta version.
                    </br>
                    Let us know what you think about it!
                </p>
                <h2>Contact Us</h2>
                <a name="contact"></a>
                <p class="lead">
                    <a href="mailto:contact@pubstream.io" target="_top">contact@pubstream.io</a>
                </p>
                <h2>We are social</h2>
                <p class="lead">
                    <ul class="list-inline">
                        <li><a href="https://twitter.com/pubstreamio"><span class="twitter"></span></a></li>
                        <li>&middot;</li>
                        <li><a href="javascript:void(0)"><span class="facebook"></span></a></li>
                        <li>&middot;</li>
                        <li><a href="javascript:void(0)"><span class="google-plus"></span></a></li>
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>


{% endblock %}