<!-- Footer -->
<footer>
    <div class="container">
        <nav class="footer-nav">
            <div class="row">
                <div class="text-center">
                    <ul class="list-inline">
                        <li><a href="http://paperstream.io/about/">About us</a></li>
                        <li>&middot;</li>
                        <li><a href="mailto:contact@paperstream.io">Contact us</a>
                        <li>&middot;</li>
                        <li><a href="#">News</a>
                        <li>&middot;</li>
                        <li><a href="#">Privacy</a>
                        <li>&middot;</li>
                        <li><a href="#">Terms</a>
                        </li>
                    </ul>
                    <div class="text-center">&copy; 2015 PaperStream.io </div>
                </div>
            </div>
        </nav>
    </div>
</footer>