<!-- Footer -->
<footer>
    <div class="container">
        <nav class="footer-nav">
            <div class="row">
                <div class="text-center">
                    <ul class="list-inline">
                        <li><a href="{% url 'core:about' %}">About</a></li>
                        <li>&middot;</li>
                        <li><a href="{% url 'core:support' %}">Support</a></li>
                        <li>&middot;</li>
                        <li><a href="{% url 'core:about' %}#contact">Contact</a></li>
                        <li>&middot;</li>
                        <li><a href="http://blog.pubstream.io">Blog</a></li>
                        <li>&middot;</li>
                        <li><a href="{% url 'core:terms' %}">Terms</a></li>
                        </li>
                    </ul>
                    <div class="text-center">&copy; 2015 etalia All rights reserved. </div>
                </div>
            </div>
        </nav>
    </div>
</footer>