<!-- Footer -->
<footer>
    <div class="container">
        <nav class="footer-nav">
            <div class="row ">
                <div class="text-center">
                    <ul class="list-inline">
                        <li><a href="{% url 'core:about' %}">About</a></li>
                        <li>&middot;</li>
                        <li><a href="{% url 'core:about' %}#contact">Contact us</a></li>
                        <li>&middot;</li>
                        <li><a href="#">News</a></li>
                        <li>&middot;</li>
                        <li><a href="#">Terms</a></li>
                        </li>
                    </ul>
                    <div class="text-center">&copy; 2015 PubStream.io </div>
                </div>
            </div>
        </nav>
    </div>
</footer>