{% extends 'base.html' %}

{% load staticfiles %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/landing.css' %}" type="text/css" >
{% endblock %}

{% block head %}
{% endblock head %}

{% block title %}A Stream for Researchers{% endblock %}


{% block content %}

{% if not user.is_authenticated %}
<div class="landing">
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="intro-message">
                    <h1>Your Guide to Scientific News</h1>
                    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                        <h3>Scientific publications recommended daily. </br>
                            Fully automated and curated based on your reference library.</h3>
                        <h4><i>No search queries. No journal browsing. No alert setup.</i></h4>
                    </div>
                    <hr class="intro-divider">
                    <h4>Sign-in with:</h4>
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <a id="mendeley-link" href="{% url "social:begin" backend="mendeley" %}" class="btn btn-default btn-lg provider-button">
                                <img src="{% static 'img/mendeley_logo_small.png' %}" class="provider-logo">
                                Mendeley
                            </a>
                        </li>
                        <li>
                            <a id="zotero-link" href="{% url "social:begin" backend="zotero" %}" class="btn btn-default btn-lg provider-button">
                                 <img src="{% static 'img/zotero_logo_small.png' %}" class="provider-logo">
                                 Zotero
                            </a>
                        </li>
                    </ul>
                </div>
                <a  href="#" class="learn-more" title="Learn more">Learn more</a>
            </div>
            <!-- /.intro-header -->
            <a name="learn-more"></a>
            <div class="row text-left">
                <div class="col-lg-5 col-sm-push-6 col-sm-6">
                        <h2 class="section-heading">Follow progress in your field</h2>
                        <p class="lead">
                            About 20,000 papers are published weekly in thousand of journals.
                            PubStream finds the most important publications for you, no matter
                            where they're published.
                        </p>
                </div>
                <div class="col-sm-pull-6 col-sm-6 hidden-sm">


                </div>
            </div>
        </div>
    </div>

    <div class="how">
        <h1>How PubStream works</h1>
        <div class="content-section-a">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-lg-offset-1 col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Connecting to your library</h2>
                        <p class="lead">
                            PubStream works in sync with your reference software manager.
                            <a href="www.zotero.org">Zotero</a> or
                            <a href="www.mendeley.com">Mendeley</a> are currently supported.
                        </p>
                    </div>
                    <div class="col-lg-5 col-sm-6">
                        <img class="img-responsive center-block bubble" src="{% static '/static/img/bubble_reference.png' %}" alt="reference manager software hook to paperstream">
                    </div>
                </div>

            </div>
            <!-- /.container -->
        </div>
        <!-- /.content-section-a -->

        <div class="content-section-b">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-sm-push-6 col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
    {#                    <h2 class="section-heading">How your personalized stream is built</h2>#}
                            <h2 class="section-heading">Building personalized streams</h2>
                            <p class="lead">PubStream searches the web for recent publications and find
                            those that match your research interest.</p>
                        <p class="lead">Exploring a new field? Changing focus?<br> The stream adapts as you go.</p>
                    </div>
                    <div class="col-lg-4 col-lg-offset-2 col-sm-pull-6  col-sm-6">
                        <img class="img-responsive center-block bubble" src="{% static '/static/img/bubble_wheel.png' %}" alt="Cloud of publications">
                    </div>
                </div>
            </div>
            <!-- /.container -->
        </div>
        <!-- /.content-section-b -->

        <div class="content-section-a">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-lg-offset-1 col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Using multiple gears</h2>
                            <p class="lead">Your personalized stream is generated using natural language processing, statistical modeling and multiple article metrics.</p>

{#                        <h5>This week most trendy paper from <a href="http://www.altmetric.com">Altmetric</a>:</h5>#}
{#                        {% for paper in active_papers %}#}
{#                            <div class="col-xs-3">#}
{#                                {% if paper.id_doi %}<span class='altmetric-embed' data-badge-type='donut' data-doi="{{ paper.id_doi }}"></span>#}
{#                                {% elif paper.id_arx %}<span class='altmetric-embed' data-badge-type='donut' data-arxiv="{{ paper.id_arx }}"></span>#}
{#                                {% elif paper.id_pmi %}<span class='altmetric-embed' data-badge-type='donut' data-pmid="{{ paper.id_pmi }}"></span>#}
{#                                {% endif %}#}
{#                            </div>#}
{#                            <div class="col-xs-9">#}
{#                                <a href="{{ paper.get_absolute_url }}" target="_blank">{{ paper.title|truncatechars:40 }}</a><br>#}
{#                                {{ paper.print_compact_first_author }}<br>#}
{#                                {{ paper.print_journal_title }}<br>#}
{#                            </div>#}
{#                        {% endfor %}#}
                    </div>
                    <div class="col-lg-5 col-sm-6">
                        <img class="img-responsive center-block bubble" src="{% static '/static/img/bubble_metrics.png' %}" alt="Metrics at work">
                    </div>
                </div>
            </div>
            <div class="row"></div>
        </div>
    </div>

    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer no-border">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Get engaged in your field</h2>
                    <p class="lead">Comment on publications. Start discussions.</p>
                    <p class="lead">PubStream will notify you and other researchers of new relevant comments.</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive center-block bubble" src="{% static '/static/img/bubble_comment.png' %}" alt="Comment">
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-b -->


    <div class="what">
        <h1>A new way to scientific publications</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="what-img-crop">
                        <img class="what-img-streams" src="{% static 'img/main_icons_color.svg' %}" alt="Streams">
                    </div>
                    <div class="text-what text-center">
                        <h2 class="section-heading">Streams</h2>
                        <p class="lead">Your personalized streams are actualized daily. Don't miss any advances in your field anymore.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="what-img-crop">
                        <img class="what-img-trends" src="{% static 'img/main_icons_color.svg' %}" alt="Trends">
                    </div>
                    <div class="text-what text-center">
                        <h2 class="section-heading">Trends</h2>
                        <p class="lead">Broaden your research interests and start finding out on new recent breakthroughs in other fields.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="what-img-crop">
                        <img class="what-img-library" src="{% static 'img/main_icons_color.svg' %}" alt="Library">
                    </div>
                    <div class="text-what text-center">
                        <h2 class="section-heading">Library</h2>
                        <p class="lead">Explore your reference library in a new way, finding similar papers and new relevant publications.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="banner">
        <div class="container">
            <div class="row text-center">
                <h3>Try it now:</h3>
                <ul class="list-inline intro-social-buttons">
                    <li>
                        <a id="mendeley-link" href="{% url "social:begin" backend="mendeley" %}" class="btn btn-default btn-lg provider-button">
                            <img src="{% static 'img/mendeley_logo_small.png' %}" class="provider-logo">
                            Mendeley
                        </a>
                    </li>
                    <li>
                        <a id="zotero-link" href="{% url "social:begin" backend="zotero" %}" class="btn btn-default btn-lg provider-button">
                             <img src="{% static 'img/zotero_logo_small.png' %}" class="provider-logo">
                             Zotero
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% else %}

{% endif %}
<script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>
{% endblock %}
