{% extends 'base.html' %}

{% load staticfiles %}

{% block css %}<link href="{% static '/static/css/landing.css' %}" rel="stylesheet">{% endblock %}

{% block title %}{% endblock %}

{% block content %}

<!-- Header -->
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">

                    <h1>Streaming Your Research</h1>
                    <h2>Stay tuned on your research field</h2>
                    <h2>Comment scientific publications</h2>
                    <h2>Connect with others</h2>

                    <hr class="intro-divider">
                    <h3>Connect with: </h3>
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <!-- TODO: Make url dynamic -->
                            <a href="http://{{ host }}/accounts/mendeley/login/?process=login" class="btn btn-default btn-lg">
                                <span id="mendeley_login" class="network-name">Mendeley</span></a>
                        </li>
                        <li>
                            <!-- TODO: Make url dynamic -->
                            <a href="http://{{ host }}/accounts/zotero/login/?process=login" class="btn btn-default btn-lg">
                                <span id="zotero_login" class="network-name">Zotero</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->
</div>
<!-- /.intro-header -->

<!-- Page Content -->
<a name="about"></a>
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Connect your reference managers <br>and Power-up PaperStream</h2>
                <p class="lead">Paperstream works in sync with your <a href="www.zotero.org">Zotero</a> or <a href="www.mendeley.com">Mendeley</a> account (others will follow). Connect and power-up your Paperstream. </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="{% static '/static/img/mendeley_img.jpg' %}" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-a -->

<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Stay tuned on your research field</h2>
                <p class="lead">Paperstream scans the scientific literature and feeds you with the latest findings in your field. </p>
                <p class="lead">Exploring a new field? Changing focus? Paperstream adapts in real-time.</p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="{% static '/static/img/mendeley_img2.jpg' %}" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-b -->

<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Bring papers to life<br>with dynamic comments</h2>
                <p class="lead">Want to discuss on a paper of get feedback from other scientists. Paperstream keeps you tuned on comments that are relevant for you.</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="{% static '/static/img/mendeley_img3.png' %}" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->

<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h2>Connect to PaperStream:</h2>
            </div>
            <div class="col-lg-4">
                <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="http://127.0.0.1:8000/accounts/mendeley/login/?process=login" class="btn btn-default btn-lg">
                                <!--<i class="fa fa-twitter fa-fw"></i> -->
                                <span class="network-name">[M] Mendeley</span></a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:8000/accounts/zotero/login/?process=login" class="btn btn-default btn-lg">
                                <!--<i class="fa fa-github fa-fw">-->

                                </i> <span class="network-name">[Z] Zotero</span></a>
                        </li>
                </ul>
            </div>
        </div>

    </div>
    <!-- /.container -->
</div>
<!-- /.banner -->

{% endblock %}
