{% extends 'base.html' %}

{% load staticfiles %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/landing.css' %}" type="text/css" >
{% endblock %}

{% block head %}
{% endblock head %}

{% block title %}{% endblock %}


{% block content %}

{% if not user.is_authenticated %}

    <!-- Header -->
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">

                        <h1>A Stream for Researchers</h1>
                        <h3>Stay tuned, simply.</h3>

                        <hr class="intro-divider">
                        <h5>Sign-in:</h5>
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a id="mendeley-link" href="{% url "social:begin" backend="custom-mendeley-oauth2" %}" class="btn btn-default btn-lg provider-button">
                                    <img src="{% static 'img/mendeley_logo_small.png' %}" class="provider-logo">
                                    Mendeley
                                </a>
                            </li>
                            <li>
                                <a id="zotero-link" href="{% url "social:begin" backend="custom-zotero" %}" class="btn btn-default btn-lg provider-button">
                                     <img src="{% static 'img/zotero_logo_small.png' %}" class="provider-logo">
                                     Zotero
                                </a>
                            </li>
                        </ul>
                        <div style="padding-top: 20px">
                            <div class="container">
                                <div class="col-lg-8 col-lg-offset-2 col-sm-6 text-center">
                                    <h3>
                                        <p>PaperStream is a free service for students and researchers.</p>
                                        <p>It helps you stay up-to-date in your field by finding recently published articles that match your interest.</p>
                                        <p>No keyword search. No alert to setup. No journal page to browse. <br>
                                            Paperstream leverages what you store in your reference manager to feed your personalized stream.
                                        </p>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->
    <a name="about"></a>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Connect your reference managers</h2>
                    <p class="lead">
                        PaperStream works in sync with your reference software manager.
                        It currently supports <a href="www.zotero.org">Zotero</a> or
                        <a href="www.mendeley.com">Mendeley</a>.
{#                        Based on the data stored in your library it gives you back a stream of recent#}
{#                        scientific papers that match your interest.#}
                    </p>
                    <p class="lead">
                        Not using a reference software manager yet?
                        They are incredible time-saver tools to organize your library and to help you format your references.
                        Check it out.
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-1 col-sm-6">
                    <img class="img-responsive" src="{% static '/static/img/bubble_provider.png' %}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Build your personalized stream</h2>
                    <p class="lead">PaperStream searches the web for recently published papers.
                        Based on your library, it streams you back the recent scientific papers that
                        match your research interest.</p>
                    <p class="lead">Exploring a new field? Changing focus?<br> PaperStream adapts as you go.</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="{% static '/static/img/bubble_wheel.png' %}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Multiple metrics at work</h2>
                        <p class="lead">Article social trends, document embeddings, journal focus, all are at work to build your personalized stream.</p>

                    <h5>This week trending papers with <a href="http://www.altmetric.com">Altmetric</a>:</h5>
                    {% for paper in active_papers %}
                        <div class="row" style="height:70px">
                            <div class="col-lg-3 col-sm-3">
                            {% if paper.id_doi %}<div class='altmetric-embed' data-badge-type='donut' data-doi="{{ paper.id_doi }}"></div>
                            {% elif paper.id_arx %}<div class='altmetric-embed' data-badge-type='donut' data-arxiv="{{ paper.id_arx }}"></div>
                            {% elif paper.id_pmi %}<div class='altmetric-embed' data-badge-type='donut' data-pmid="{{ paper.id_pmi }}"></div>
                            {% endif %}
                            </div>
                            <div class="col-lg-9 col-sm-9">
                                <div><a href="{{ paper.get_absolute_url }}" target="_blank">{{ paper.title|truncatechars:40 }}</a></div>
                                <div>
                                    {{ paper.print_compact_first_author }}
                                </div>
                                <div>
                                    {{ paper.print_journal_title }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-lg-5 col-lg-offset-1 col-sm-6">
                    <img class="img-responsive" src="{% static '/static/img/bubble_altmetric.png' %}" alt="">
                </div>
            </div>
        </div>
        <div class="row">
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Comment articles</h2>
                    <p class="lead">Express your opinion on a paper. <br>Engage the community in a discussion.</p>
                    <p class="lead">Paperstream will notify you and other researchers of new relevant comments.</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="{% static '/static/img/bubble_comment.png' %}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-b -->

    <div class="banner">
        <div class="container">
            <div class="row text-center">
                <h2>Stay tuned, simply</h2>
                <h5>Connect now:</h5>
                <ul class="list-inline intro-social-buttons">
                    <li>
                        <a id="mendeley-link" href="{% url "social:begin" backend="custom-mendeley-oauth2" %}" class="btn btn-default btn-lg provider-button">
                            <img src="{% static 'img/mendeley_logo_small.png' %}" class="provider-logo">
                            Mendeley
                        </a>
                    </li>
                    <li>
                        <a id="zotero-link" href="{% url "social:begin" backend="custom-zotero" %}" class="btn btn-default btn-lg provider-button">
                             <img src="{% static 'img/zotero_logo_small.png' %}" class="provider-logo">
                             Zotero
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.banner -->
{% else %}

{% endif %}
<script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>
{% endblock %}
