{% load staticfiles %}

{% load navbar_extra %}

<link href="{% static '/static/css/nav-bar.css' %}" rel="stylesheet">

{% block navbar %}
<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topnav" href="{% url 'core:home' %}">
                <strong>PaperStream.io</strong>
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        {% if user.is_authenticated %}
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">

                    <li id="nav-bar-feed" class="dropdown {% active request 'feed.+' %}">
{#                        <a href="{% url 'feeds:feed' %}">Feeds</a>#}
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Feeds<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            {% for feed in user.feeds.all %}
                                <li><a href="{% url 'feeds:feed' %}">{{ feed.name }}</a></li>
                            {% endfor %}
                          <li class="divider"></li>
                          <li><a href="#">+ Create New</a></li>
                        </ul>
                    </li>
                    <li id="nav-bar-library" class="{% active request 'library.+' %}">
                        <a href="{% url 'user:library' %}">Library</a>
                    </li>
                    <li id="nav-bar-connect" class="{% active request 'connect.+' %}">
                        <a href="#">Connect</a>
                    </li>
                    <li id="nav-bar-comment" class="{% active request 'comment.+' %}">
                        <a href="#">Comment</a>
                    </li>
                    <li class="{% active request 'search.+' %}">
                        <a href=""><span class="glyphicon glyphicon-search"></span></a>
                    </li>
                    <li class="dropdown {% active request 'accounts.+' %}">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span>
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                          <li class=""><a href="#" data-toggle="modal" data-target="#update-profile-modal">Profile</a></li>
                          <li><a href="#">Help</a></li>
                          <li class="divider"></li>
                          <li><a href="{% url 'user:logout' %}">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        {% else %}
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{% url 'core:home' %}#about">About</a>
                    </li>
                    <li>
                        <a href="{% url 'core:home' %}#contact">Contact</a>
                    </li>
                    <li>
{#                        <a href="{% url 'user:signin' %}" >Sign-in</a>#}
                        <a href="#" data-toggle="modal" data-target="#signin-modal">Sign-in</a></li>
                    </li>
                </ul>
            </div>
        {% endif %}
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
{% endblock %}


