{% extends 'base.html' %}

{% load staticfiles %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/core.css' %}" type="text/css" >
{% endblock %}

{% block head %}
{% endblock head %}

{% block title %} PubStream | Support {% endblock %}


{% block content %}
    <div class="container">
    <div class="row">
        <div class="col-md-2 hidden-sm hidden-xs">
            {% include 'core_side.html' %}
        </div>
        <div class="col-md-8">
            <div class="about">
                <h2>PubStream Support</h2>
                <p class="lead">
                    You’ve got a question, problem or just want some more information?<br>
                    Have a peek below at our knowledge base.<br>
                    Not answering your question? <a href="{% url 'core:about' %}#contact">contact us</a>.
                </p>
                <h2>Frequently Asked Questions</h2>
                <div class="text-left">
                <h3 class="question">How does PubStream work?</h3>
                <p class="lead response">
                    <span class="pub">Pub</span><span class="stream">Stream</span>
                    checks what you are reading in your Reference Library.
                    <span class="pub">Pub</span><span class="stream">Stream</span>
                    leverages the content of your library using recent advances
                    in natural language processing, machine learning, and statistics
                    to understand your interests. <span class="pub">Pub</span><span class="stream">Stream</span>
                    builds news streams that
                    match your personal interests based on your library text content.
                    Reading a new paper or extending your research interests?
                    <span class="pub">Pub</span><span class="stream">Stream</span>
                    will automatically adapt.
                </p>
                <h3 class="question">How can I use PubStream?</h3>
                <p class="lead response">
                    To use PubStream you need access to the internet and an account with a reference
                    library (e.g. <a href="www.zotero.org">Zotero</a> or <a href="www.mendeley.com">Mendeley</a>).
                    Use your reference library credentials to sign in to PubStream
                    and start browsing your personal stream of recommended publications.
                </p>
                <h3 class="question">Why PubStream only support Zotero and Mendeley?</h3>
                <p class="lead response">
                    <a href="www.zotero.org">Zotero</a> and <a href="www.mendeley.com">Mendeley</a> are the only two reference software managers that are cloud-based and provide
                    the ability for third party application, like PubStream, to access your library content
                    through authentication. Both use the <a href="https://en.wikipedia.org/wiki/OAuth">
                    OAuth protocol</a>, which is a widely adopted, open protocol for users to delegate
                    authorization in a secure manner. OAuth is used to authorize requests between PubStream
                    and your reference managers.<br> PubStream will serve other reference managers as
                    support for OAuth is added.
                </p>
                <h3 class="question">What makes PubStream and Google Scholar different?</h3>
                <p class="lead response">
                    PubStream recommends publications based on the content of your reference
                    library unlike Google Scholar, which makes suggestions based on your publication
                    and citation records only.
                </p>
                <h3 class="question">How often are recommendations updated?</h3>
                <p class="lead response">
                    PubStream updates recommendations daily.
                    You can also subscribe to receive notifications via email on a regular basis.
                </p>
                <h3 class="question">Which publications sources are fetched by PubStream?</h3>
                <p class="lead response">
                    Currently, PubStream fetches publications available on
                    <a href="http://www.ncbi.nlm.nih.gov/pubmed">PubMed</a>, the <a href="http://http://arxiv.org/">
                    Arxiv.org</a> and articles published in <a href="https://www.elsevier.com/journals/title/all">
                    Elsevier journals</a>. That corresponds to about 1,000,000 unique scientific publications per year.
                </p>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}


{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/core.js' %}"></script>
{% endblock js %}