{% extends 'base.html' %}

{% load staticfiles %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/core.css' %}" type="text/css" >
{% endblock %}

{% block head %}
{% endblock head %}

{% block title %}PubStream | Terms {% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2">
            {% include 'core_side.html' %}
        </div>
        <div class="col-md-8">
        </div>
    </div>
</div>


{% endblock %}