<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;">&#13;
<head>&#13;
    <meta name="viewport" content="width=device-width" />&#13;
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />&#13;
    <title>etalia.io | Digest</title>&#13;
    &#13;
    &#13;
    &#13;
</head>&#13;
&#13;
<body bgcolor="#f6f6f6" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%; margin: 0; padding: 0;"><style type="text/css">
.card .title a:hover { color: #6b6d70 !important; text-decoration: none !important; }
&gt;</style>&#13;
&#13;
<!-- body -->&#13;
<table class="body-wrap" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; width: 100%; margin: 0; padding: 20px;">&#13;
    <tr style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;">&#13;
        <td style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;"></td>&#13;
        <td class="container" bgcolor="#FFFFFF" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; display: block !important; max-width: 600px !important; clear: both !important; margin: 0 auto; padding: 0; border: 1px solid #f0f0f0;">&#13;
            <!-- content -->&#13;
            <div class="content" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; max-width: 600px; display: block; margin: 0 auto; padding: 20px;">&#13;
                <table style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; width: 100%; margin: 0; padding: 0;">&#13;
                    <tr style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;">&#13;
                        <td class="header" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;">&#13;
                            <div style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;">&#13;
                                <a href="{{ url_root }}" target="_blank" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; color: #348eda; margin: 0; padding: 0;">&#13;
                                <img class="etalia-logo" src="cid:{{ logo_cid }}" alt="Etalia Digest Logo" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; max-width: 100%; max-height: 45px; display: block; margin: 0 auto; padding: 0;" />&#13;
                                <hr class="divider" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; border-top-style: none; border-bottom-width: 1px; border-bottom-color: #e7e7e7; border-bottom-style: solid; margin: 20px 0; padding: 0;" />&#13;
                                </a>&#13;
                            </div>&#13;
                        </td>&#13;
                    </tr>&#13;
                    <tr style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;">&#13;
                        <td style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;">&#13;
                            {% for paper in papers %}&#13;
                                <div class="card" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; position: relative; margin: 0; padding: 0;">&#13;
                                    <p class="title" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 17px; line-height: 18px; font-weight: normal; color: #1e232f; margin: 0 0 8px; padding: 0;">&#13;
                                        <a href="{{ root_url }}{{ paper.get_absolute_url }}" target="_blank" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; color: #1e232f; text-decoration: none; margin: 0; padding: 0;">&#13;
                                            {{ paper.title }}&#13;
                                        </a>&#13;
                                    </p>&#13;
&#13;
                                    <p class="authors" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 15px; line-height: 18px; font-weight: normal; color: #6b6d70; margin: 0 0 8px; padding: 0;">&#13;
                                        {{ paper.print_full_authors }}&#13;
                                    </p>&#13;
&#13;
                                    <div class="infos" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; position: relative; margin: 0; padding: 0 136px 4px 0;">&#13;
                                        <p class="truncate" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 16px; font-weight: 700; color: #86b5b0; display: block; overflow: hidden; margin: 0; padding: 0;">&#13;
                                            {{ paper.print_journal_title|truncatechars:40 }}&#13;
                                            <em style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; font-weight: normal; font-style: italic; margin: 0; padding: 0 0 0 20px;">{{ paper.print_date }}</em>&#13;
                                        </p>&#13;
                                        {% if paper.altmetric.score &gt; 0 %}&#13;
                                        <p class="icons" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6; font-weight: normal; position: absolute; right: 20px; top: -10px; height: 36px; width: 36px; text-align: right; margin: 0; padding: 0;" align="right">&#13;
                                        <span style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; display: block; width: 32px; height: 32px; margin: 0; padding: 0;">&#13;
                                            <img src="{{ paper.altmetric.print_badge }}" alt="Altmetric score" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; max-width: 100%; margin: 0; padding: 0;" />&#13;
                                        </span>&#13;
                                        </p>&#13;
                                        {% endif %}&#13;
                                    </div>&#13;
                                    <div class="abstract" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; line-height: 14px; margin: 0; padding: 0;">&#13;
                                        {{ paper.abstract|capfirst|truncatechars:250 }}&#13;
                                    </div>&#13;
                                </div>&#13;
                                <hr class="divider" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; border-top-style: none; border-bottom-width: 1px; border-bottom-color: #e7e7e7; border-bottom-style: solid; margin: 20px 0; padding: 0;" />&#13;
                            {% endfor %}&#13;
                        </td>&#13;
                    </tr>&#13;
                    <tr style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;">&#13;
                        <td style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;">&#13;
                            <div class="center" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; text-align: center; margin: 0; padding: 0;" align="center">&#13;
                                <p class="follow" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 1.6; font-weight: 400; margin: 0 0 10px; padding: 0;">&#13;
                                    <a href="{{ root_url }}" target="_blank" class="btn-primary" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; color: #FFF; text-decoration: none; font-weight: bold; text-align: center; cursor: pointer; display: inline-block; border-radius: 25px; background-color: #348eda; margin: 20px 10px 20px 0; padding: 10px 20px;">Find more</a>&#13;
                                </p>&#13;
                            </div>&#13;
                        </td>&#13;
                    </tr>&#13;
                </table>&#13;
            </div>&#13;
            <!-- /content -->&#13;
        </td>&#13;
        <td style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;"></td>&#13;
    </tr>&#13;
</table>&#13;
<!-- /body -->&#13;
&#13;
<!-- footer -->&#13;
<table class="footer-wrap" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; width: 100%; clear: both !important; margin: 0; padding: 0;">&#13;
    <tr style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;">&#13;
        <td style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;"></td>&#13;
        <td class="container" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; display: block !important; max-width: 600px !important; clear: both !important; margin: 0 auto; padding: 0;">&#13;
            <!-- content -->&#13;
            <div class="content" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; max-width: 600px; display: block; margin: 0 auto; padding: 20px;">&#13;
                <table style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; width: 100%; margin: 0; padding: 0;">&#13;
                    <tr style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;">&#13;
                        <td align="center" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;">&#13;
                            <p style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 12px; line-height: 1.6; color: #666; font-weight: normal; margin: 0 0 10px; padding: 0;">To stop receiving periodic digest email, edit <a href="{{ root_url }}{% url 'user:settings' %}" target="_blank" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; color: #999; margin: 0; padding: 0;">your personal settings </a>&#13;
                            </p>&#13;
                            <p style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 12px; line-height: 1.6; color: #666; font-weight: normal; margin: 0 0 10px; padding: 0;">© 2016 Etalia, Inc.</p>&#13;
                        </td>&#13;
                    </tr>&#13;
                </table>&#13;
            </div>&#13;
            <!-- /content -->&#13;
        </td>&#13;
        <td style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;"></td>&#13;
    </tr>&#13;
</table>&#13;
<!-- /footer -->&#13;
&#13;
</body>&#13;
</html>
