{% load staticfiles %}

<div class="side-panel">
    <div class="side-panel-section time-span">
        <div class="side-panel-title">
            Time span
        </div>
        <div class="side-panel-inner">
            <div>
                <a href="{{ request.path }}?time-span=lv" {% if time_span == 'lv' %} style="text-decoration: underline;" {%  endif %}>
                   last visit
                </a>
            </div>
            <div>
                <a href="{{ request.path }}?time-span=1w" {% if time_span == '1w' %} style="text-decoration: underline;" {%  endif %}>
                   1 week
                </a>
            </div>
            <div>
                <a href="{{ request.path }}?time-span=1m" {% if time_span == '1m' %} style="text-decoration: underline;" {%  endif %}>
                   1 month
                </a>
            </div>
            <div>
                <a href="{{ request.path }}?time-span=2m" {% if time_span == '2m' %} style="text-decoration: underline;" {%  endif %}>
                   2 months
                </a>
            </div>
        </div>
    </div>
    <div class="side-panel-section journals">
        <div class="side-panel-title">
            Journals
{#            <span class="select">#}
{#            <button class="all">all</button>/<button class="none">none</button>#}
{#            </span>#}
        </div>
        <div class="side-panel-inner">
            <ul>
            {% for journal, count, block in journals %}
                <li class="journal" data-block="{{ block }}">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" data-journal-title="{{ journal.title }}"
                                    {% if journal.title|lower in journals_filter %} checked="checked" {% endif %}>
                            <div class="long">
                                <span title="{{ journal.title }}">{{ journal.title|truncatechars:25 }} ({{ count }})</span>
                            </div>
{#                            <div class="short">#}
{#                                {% if journal.title|length > 25 %}#}
{#                                    <span title="{{ journal.title }}">{{ journal.title|truncatechars:25 }}</span>#}
{#                                {% else %}#}
{#                                    <span title="{{ journal.title }}">{{ journal.title|truncatechars:25 }} ({{ count }})</span>#}
{#                                {% endif %}#}
{#                                <span class="select">#}
{#                                    <button class="only">only</button>#}
{#                                </span>#}
{#                            </div>#}
                        </label>
                    </div>
                </li>
            {% endfor %}
            </ul>
            {% if journals_show_more %}
                <button class="show-more">show more</button>
                <button class="show-less">/show less</button>
            {% endif %}
        </div>
    </div>
    <div class="side-panel-section authors">
        <div class="side-panel-title">
            Authors
{#            <span class="select">#}
{#            <button class="all">all</button>/<button class="none">none</button>#}
{#            </span>#}
        </div>
        <div class="side-panel-inner">
            <ul >
            {% for auth, author_full_name, block in authors %}
                <li class="author" data-block="{{ block }}">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" data-author-pk="{{ auth.pk }}"
                                {% if  auth.pk in authors_filter %} checked="checked" {% endif %}>
                            <div class="long">
                                <span title="{{ author_full_name }}">{{ author_full_name|truncatechars:35 }}</span>
                            </div>
{#                            <div class="short">#}
{#                                <span title="{{ author_full_name }}">{{ author_full_name|truncatechars:25 }}</span>#}
{#                                <span class="select">#}
{#                                    <button class="only">only</button>#}
{#                                </span>#}
{#                            </div>#}
                        </label>
                    </div>
                </li>
            {% endfor %}
            </ul>
            {% if authors_show_more %}
                <button class="show-more">show more</button>
                <button class="show-less">/show less</button>
            {% endif %}
        </div>
    </div>
    <hr class="divider">
    {% include 'footer_side.html' %}
</div>