{% load endless %}
{% load user_taste %}

{% paginate first_page,per_page ufmp_list %}
{% for ufmp in ufmp_list %}
    <div class="paper-list">
        <div class="altmetric">
            {% if ufmp.paper.id_doi %}<div class='altmetric-embed' data-hide-less-than="20" data-badge-type='donut' data-doi="{{ ufmp.paper.id_doi }}"></div>
            {% elif ufmp.paper.id_arx %}<div class='altmetric-embed' data-hide-less-than="20" data-badge-type='donut' data-arxiv="{{ ufmp.paper.id_arx }}"></div>
            {% elif ufmp.paper.id_pmi %}<div class='altmetric-embed' data-hide-less-than="20" data-badge-type='donut' data-pmid="{{ ufmp.paper.id_pmi }}"></div>
            {% endif %}
        </div>
        <div class="compact">
            <div class="title">{{ ufmp.paper.title|truncatechars:75 }}</div>
            <div class="authors-journal-date">
                {% with ufmp.paper.print_full_authors|add:ufmp.paper.print_journal_title as str %}
                {% if str|length > 85 %}
                    <span class="authors">{{ ufmp.paper.print_full_authors|truncatechars:65 }}</span>
                    {{ ufmp.paper.print_journal_title|truncatechars:20 }}
                    {{ ufmp.paper.print_date }}
                {% else %}
                    <span class="authors">{{ ufmp.paper.print_full_authors }}</span>
                    {{ ufmp.paper.print_journal_title }}
                    {{ ufmp.paper.print_date }}
                {% endif %}
                {% endwith %}
            </div>
            <span id="{{ ufmp.paper.pk }}" class="stamps-2">
                <span class="like {% if user_taste|get_is_liked:ufmp.paper.pk %} active {% endif %}"></span>
                <span class="tick {% if user_taste|get_is_ticked:ufmp.paper.pk %} active {% endif %}"></span>
            </span>
        </div>
        <div class="extended">
            <div class="title">{{ ufmp.paper.title }}</div>
            <div class="authors">{{ ufmp.paper.print_full_authors}}</div>
            <div class="journal-date">
                {{ ufmp.paper.print_journal_title}}
{#                {{ ufmp.paper.print_year }}#}
                {{ ufmp.paper.print_date }}
            </div>
            <div class="abstract">{{ ufmp.paper.abstract }}</div>
        </div>
        <span id="{{ ufmp.paper.pk }}" class="stamps">
            <a class="open" href="{% url 'library:paper' ufmp.paper.pk %}" target="_blank"></a>
            <a class="like {% if user_taste|get_is_liked:ufmp.paper.pk %} active {% endif %}" href="#"></a>
            <a class="tick {% if user_taste|get_is_ticked:ufmp.paper.pk %} active {% endif %}" href="#"></a>
        </span>
    </div>
{% endfor %}
{% show_more %}

