{% extends 'base.html' %}

{% load staticfiles %}
{% load disqus_tags %}
{% load user_taste %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/trends.css' %}" type="text/css" >
    <link rel="stylesheet" href="{% static 'css/paper_list.css' %}" type="text/css" >
    <link rel="stylesheet" href="{% static 'css/side_panel.css' %}" type="text/css" >
    {{ block.super }}
{% endblock css %}

{% block title %}
    Discover
{% endblock title %}

{% block content %}
    {% if user.lib.state == 'ING' %}
        {% include "user/sync_lib_modal.html" %}
    {% elif userfeed.state == 'ING' %}
        {% include "feeds/update_feed_modal.html" %}
    {% endif %}
    <div class="container-fluid">
        <div class="trend">
            <div class="row">
                <div class="col-lg-11 col-lg-offset-1">
                    <div class="col-md-9">
                        <div class="usertrend">
                            <h3>Trendy articles you may be interested in</h3>
                            <div class="endless_data">
                            {% include page_template %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 hidden-sm">
                        <div class="side-panel">
                            <div class="journals">
                                <div class="side-panel-title">
                                    Journals
                                    <a class='all' href="javascript:void(0)">(select all)</a>
                                </div>
                                <div class="side-panel-inner">
                                    <ul>
                                    {% for journal, count in journals %}
                                        <li class="journal {% if journal.title in journals_filter %} active {% endif %}" data-journal-title="{{ journal.title }}">
                                            <span class="long">
                                                <a href="javascript:void(0)">
                                                    {{ journal.title|truncatechars:25 }}
                                                </a>
                                                ({{ count }})
                                            </span>
                                            <span class="short">
                                                <a href="javascript:void(0)">
                                                    {{ journal.title|truncatechars:25 }}
                                                </a>
                                                {% if journal.title|length <= 20 %}
                                                    ({{ count }})
                                                {% endif %}
                                            </span>
                                            <a class="only" href="javascript:void(0)">only</a>
                                            <a class="remove" href="javascript:void(0)"></a>
                                        </li>
                                    {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="authors">
                                <div class="side-panel-title">
                                    Authors
                                    <a class='all' href="javascript:void(0)">(select all)</a>
                                </div>
                                <div class="side-panel-inner">
                                    <ul >
                                    {% for author in authors %}
                                        {% with author.first_name|add:' '|add:author.last_name as author_full %}
                                        <li class="author {% if author_full in authors_filter %} active {% endif %}"
                                            data-first-name="{{ author.first_name }}"
                                            data-last-name="{{ author.last_name }}">
                                            <span class="long">
                                                <a href="javascript:void(0)">
                                                    {{ author_full|truncatechars:35 }}
                                                </a>
                                            </span>
                                            <span class="short">
                                                <a href="javascript:void(0)">
                                                    {{ author_full|truncatechars:25 }}
                                                </a>
                                            </span>
                                            <a class="only" href="javascript:void(0)">only</a>
                                            <a class="remove" href="javascript:void(0)"></a>
                                        </li>
                                        {% endwith %}
                                    {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
    <script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
    <script type="text/javascript" src="{% static 'js/paper_list.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/side_panel.js' %}"></script>
    <script>$.endlessPaginate({
        paginateOnScroll: true,
        paginateOnScrollMargin: 10,
        onClick: function () {
            $('.paper-list')
                .on('mouseenter', stamps_mouseenter)
                .on('mouseleave', stamps_mouseleave)
                .on('click', extendPaper).find('.no-toggling').click(function(event) {
                    event.stopPropagation();
                });
        },
        onCompleted: function () {
            $('.paper-list')
                .on('mouseenter', stamps_mouseenter)
                .on('mouseleave', stamps_mouseleave)
                .on('click', extendPaper).find('.no-toggling').click(function(event) {
                    event.stopPropagation();
                });
            $('.tick').on('click', tick);
            $('.like').on('click', like);
            $('.add-to-library').on('click', add_to_lib);
            $('.trash').on('click', trash_paper);
        }
    });
    </script>

    {{ block.super }}
{% endblock js %}

