<!-- feed syncing modal view -->
<div class="syncing" id="updating-feed-block">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="modal in display" id="updating-feed-modal">
                    <div class="modal-body">
                        <div class="sk-spinner sk-spinner-three-bounce">
                           <div class="sk-bounce1"></div>
                           <div class="sk-bounce2"></div>
                           <div class="sk-bounce3"></div>
                        </div>
                        <h3>Please wait</h3>
                        <h2 id="user-feed-message">{{ userfeed.message }}</h2>
                        <h3>Updating your feed</h3>
                    </div>
                </div>
                <div class="modal-backdrop fade in" id="updating-feed-modal-backdrop"></div>
            </div>
        </div>
    </div>
</div>


