{% extends 'base.html' %}

{% load staticfiles %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/feeds.css' %}" type="text/css" >
{% endblock css %}

{% block title %}
    User Feed
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="feed">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <ul class="list-group">
                        <h3>{{ object.name }} <a href="#">(edit)</a></h3>
                        {% for paper in object.papers_seed.all %}
                            <tr id={{ seed_paper.pk }}>
                                <td>{{ paper.print_compact_first_author }}</td>
                                <td id="paper_title">{{ paper.short_title }}</td>
                                <td>{{ paper.print_date }}</td>
                            </tr>
                            <br>
                        {% endfor %}
                        <br>
                        <br>
                        {% for paper in object.user.lib.papers.all %}
                            <tr id={{ seed_paper.pk }}>
                                <td>{{ paper.print_compact_first_author }}</td>
                                <td id="paper_title">{{ paper.short_title }}</td>
                                <td>{{ paper.print_date }}</td>
                            </tr>
                            <br>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
    </div>
{% endblock content %}
