<div class="bar">
    <div class="wrapper">
        <div class="inner">
            {{#if prev}}
            <div id="detail-prev" class="detail-nav">
                <button class="btn-circle" type="button">
                    <span class="eai eai-left"></span>
                </button>
                <span>{{prev.title}}</span>
            </div>
            {{/if}}
            {{#if next}}
            <div id="detail-next" class="detail-nav">
                <button class="btn-circle" type="button">
                    <span class="eai eai-right"></span>
                </button>
                <span>{{next.title}}</span>
            </div>
            {{/if}}
            <button id="detail-close" class="btn-circle" type="button">
                <span class="eai eai-close"></span>
            </button>
        </div>
    </div>
</div>

<div id="detail-document" class="document">
    <div class="wrapper"></div>
</div>
