{% extends 'user/base.html' %}

{% load avatar_tags %}
{% load staticfiles %}


{% block content %}
<div id="profile" class="document">
{#    <div class="wrapper">#}
{#        <div class="inner">#}
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-4">
                        <div id="avatar-section">
                            <div class="avatar">
                                {% avatar user 120 %}
                            </div>
                            <div class="change-avatar text-center">
                                <a class="edit" href="{% url 'user:avatar_change' %}">edit</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div id="names-section">
                            <h3>
                                <span class="has-value {% if object.first_name or object.last_name %}{% else %} hidden {% endif %}">
                                    <span id="first_name">{{ object.first_name }} </span>
                                    <span id="last_name">{{ object.last_name }}</span>
                                </span>
                                <span class="has-no-value {% if object.first_name or object.last_name %} hidden {% endif %}">
                                    <span class="empty">Add your name</span>
                                </span>
                                <a class="edit" href="javascript: void(0)" data-toggle="modal"
                                   data-target="#names-modal">edit</a>
                            </h3>
                        </div>
                        <div id="title-section">
                            <h5>
                                <span class="has-value {% if object.title %}{% else %} hidden {% endif %}">
                                    <span id="title">{{ object.title }}</span>
                                </span>
                                <span class="has-no-value {% if object.title %} hidden {% endif %}">
                                    <span class="empty">Add your title</span>
                                </span>
                                <a class="edit" href="javascript: void(0)" data-toggle="modal"
                                   data-target="#title-modal">edit</a>
                            </h5>
                        </div>
                        <div id="position-section">
                            <h5>
                                <span class="has-value {% if object.position %}{% else %} hidden {% endif %}">
                                    <span id="position">{{ object.position }}</span>
                                </span>
                                <span class="has-no-value {% if object.position %} hidden {% endif %}">
                                    <span class="empty">Add your position</span>
                                </span>
                                <a class="edit" href="javascript: void(0)" data-toggle="modal" data-target="#position-modal">edit</a>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="divider">

            <div class="row">
                <div class="col-md-8 col-md-offset-2 affiliation">
                    <div class="col-md-4 text-right">
                        <div class="title">
                            Affiliation
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div id="affiliation-section">
                            <h5>
                                <span class="has-value {% if object.affiliation.is_empty %}hidden{% endif %}">
                                    <span id="print-affiliation">{{ object.affiliation.print_affiliation }}</span>
                                </span>
                                <span class="has-no-value {% if not object.affiliation or object.affiliation.is_empty  %}{% else %}hidden{% endif %}">
                                    <span class="empty">Add your affiliation</span>
                                </span>
                                <a class="edit" href="javascript: void(0)" data-toggle="modal" data-target="#affiliation-modal">edit</a>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="divider">

            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-4 text-right">
                        <div class="title">
                            My Library
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h5>Your library is in sync with {{ providers }} </h5>
                        <h5>{{ library_counter }} publications in Etalia</h5>
                        <h5>{{ likes_counter }} publications liked</h5>
                    </div>
                </div>
            </div>

            {% if authored_papers %}
            <hr class="divider">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-4 text-right">
                        <div class="title">
                            My Works
                        </div>
                    </div>
                    <div class="col-md-8">
                        {% for paper in authored_papers %}
                            <div class="paper">
                                <a href="{% url 'library:paper-redirect' paper.id %}">
                                    <span class="paper-authors">{{  paper.print_compact_authors }} </span>
                                    <span class="paper-title">{{  paper.title }}. </span>
                                    <span class="paper-journal">{{  paper.journal.short_title }}, </span>
                                    <span class="paper-year">{{  paper.date.year }}, </span>
                                    <span class="paper-volume">{{  paper.print_volume_issue_page }}</span>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}
{#        </div>#}
{#    </div>#}
</div>

{% include 'user/profile_modal.html' %}

{% endblock content %}


{% block javascript %}
<script>
    requirejs(['{% static "js/config.js" %}'], function() {
        requirejs(['app/user/profile']);
    });
</script>
{% endblock javascript %}
