{% extends 'user/base.html' %}

{% load avatar_tags %}
{% load staticfiles %}


{% block content %}
<div id="settings" class="document">
    <div class="wrapper">
        <div class="inner">
            <div class="row">

                <div id="fingerprint-settings-section" class="col-md-8 col-md-offset-2">
                    <div class="col-md-4 text-right">
                        <div class="title">
                            Fingerprint
                            <br>
                            <a class="edit" href="javascript:" data-toggle="modal" data-target="#fingerprint-settings-modal">Edit</a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-9">
                                <h5>Roll-back: <span id="fingerprint_roll_back_deltatime">{{ user.settings.fingerprint_roll_back_deltatime|floatformat:0 }}</span> months
                                    <span class="glyphicon glyphicon-info-sign" style="float: right; padding: 0 10px 0 10px;" data-toggle="tooltip" data-placement="bottom" title="Past period of references inclusion"></span>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="divider">
            <div class="row">
                <div id="stream-settings-section" class="col-md-8 col-md-offset-2">
                    <div class="col-md-4 text-right">
                        <div class="title">
                            Papers Feed
                            <br>
                            <a class="edit" href="javascript:" data-toggle="modal" data-target="#stream-settings-modal">Edit</a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-9">
                                <h5>Specificity: <span id="stream_score_threshold">{{ user.settings.stream_score_threshold|floatformat:2 }}</span>
                                    <span class="glyphicon glyphicon-info-sign" style="float: right; padding: 0 10px 0 10px;" data-toggle="tooltip" data-placement="bottom" title="Higher specificity produces fewer matches in your feed"></span></h5>
                                </h5>
                                <h5>Title/Abstract weight: <span id="stream_vector_weight">{{ user.settings.stream_vector_weight|floatformat:2 }}</span>
                                    <span class="glyphicon glyphicon-info-sign" style="float: right; padding: 0 10px 0 10px;" data-toggle="tooltip" data-placement="bottom" title="Weight given to abstract and title of the publications"></span></h5>
                                </h5>
                                <h5>Author weight: <span id="stream_author_weight">{{ user.settings.stream_author_weight|floatformat:2 }}</span>
                                    <span class="glyphicon glyphicon-info-sign" style="float: right; padding: 0 10px 0 10px;" data-toggle="tooltip" data-placement="bottom" title="Weight given to author names"></span>
                                </h5>
                                <h5>Journal weight: <span id="stream_journal_weight">{{ user.settings.stream_journal_weight|floatformat:2 }}</span>
                                    <span class="glyphicon glyphicon-info-sign" style="float: right; padding: 0 10px 0 10px;" data-toggle="tooltip" data-placement="bottom" title="Weight given to journal names"></span>
                                </h5>
                                {% if user.is_admin %}
                                <h5>Last update: {{ user.streams.first.modified }}</h5>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="divider">
            <div class="row">
                <div id="trend-settings-section" class="col-md-8 col-md-offset-2">
                    <div class="col-md-4 text-right">
                        <div class="title">
                            Trend Feed
                            <br>
                            <a class="edit" href="javascript:" data-toggle="modal" data-target="#trend-settings-modal">Edit</a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-9">
{#                                <h5>Method: <span id="trend_method">{{ user.settings.get_trend_method_display }}</span></h5>#}
                                <h5>Specificity: <span id="trend_score_threshold">{{ user.settings.trend_score_threshold|floatformat:2 }}</span>
                                    <span class="glyphicon glyphicon-info-sign" style="float: right; padding: 0 10px 0 10px;" data-toggle="tooltip" data-placement="bottom" title="Higher specificity produces fewer matches in your feed"></span></h5>
                                </h5>
                                <h5>Title/Abstract weight: <span id="trend_doc_weight">{{ user.settings.trend_doc_weight|floatformat:2 }}</span>
                                    <span class="glyphicon glyphicon-info-sign" style="float: right; padding: 0 10px 0 10px;" data-toggle="tooltip" data-placement="bottom" title="Weight given to abstract and title of the publications"></span></h5>
                                </h5>
                                <h5>Altmetric weight: <span id="trend_altmetric_weight">{{ user.settings.trend_altmetric_weight|floatformat:2 }}</span>
                                    <span class="glyphicon glyphicon-info-sign" style="float: right; padding: 0 10px 0 10px;" data-toggle="tooltip" data-placement="bottom" title="Weight given to Almetric scores"></span></h5>
                                </h5>
                                {% if user.is_admin %}
                                <h5>Last update: {{ user.trends.first.modified }}</h5>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="divider">
            <div class="row">
                <div id="email-digest-settings-section" class="col-md-8 col-md-offset-2 affiliation">
                    <div class="col-md-4 text-right">
                        <div class="title">
                            Email digest
                            <br>
                            <a class="edit" href="javascript:" data-toggle="modal" data-target="#email-digest-settings-modal">Edit</a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-9">
                                <h5>Received <span id="email_digest_frequency">{{ user.settings.get_email_digest_frequency_display }}</span></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if user.is_admin %}
            <hr class="divider">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 affiliation">
                    <div class="col-md-4 text-right">
                        <div class="title">
                            Library
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-9">
                                <h5>Last modified: {{ user.lib.modified }}</h5>
                            </div>
                            <div class="col-md-3">
                                <h5>
                                    <button id="update-lib" class="btn btn-primary btn-sm update update"
                                            action="{% url 'user:update-library' %}">Sync</button>
                                    <span class="errors"></span>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <hr class="divider">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-4 text-right">
                        <div class="title">
                            Etalia account
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-9">
                                <h5>{{ user.email }}</h5>
                            </div>
                            <div class="col-md-3">
                                <form role="form" method="GET" action="{% url 'user:delete-user' %}">
                                    <button id="delete" type="submit" class="btn btn-danger btn-md">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% include 'user/settings_modal.html' %}

{% endblock content %}


{% block javascript %}
<script>
    requirejs(['{% static "js/config.js" %}'], function() {
        requirejs(['app/user/settings']);
    });
</script>
{% endblock javascript %}
