{% extends 'layout.html' %}


{% load staticfiles %}


{% block title %}{{ block.super }} - Sign-Up{% endblock %}


{% block content %}
    {% spaceless %}
        <div class="document">
            <div id="signup-form">
                <h3>
                    {% if has_email %}
                        Is that you ?
                    {% else %}
                        We just need a few info:
                    {% endif %}
                </h3>

                <form role="form" method="POST" data-async
                      action="{% url 'user:require-basic-info' %}">
                    {% csrf_token %}
                    <span id="id_errors"></span>

                    <div class="form-inner">
                        {% for field in form %}
                            {% if field.html_name == 'terms_use_checkbox' %}
                                <div class="check">
                                    {{ field }}
                                    I have read and agree to the <a target="_blank" href="{% url 'core:terms_use' %}">Terms</a> and
                                    <a target="_blank" href="{% url 'core:terms_privacy' %}">Privacy Policy</a>
                                </div>
                            {% else %}
                                <div class="form-group">
                                    {{ field }}
                                </div>
                            {% endif %}

                        {% endfor %}
                    </div>

                    <div class="text-center submit">
                        <button id="signup" type="submit"
                                class="btn btn-primary btn-lg">
                            {% if has_email %}
                                Yes
                            {% else %}
                                Sign-in
                            {% endif %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    {% endspaceless %}
{% endblock content %}


{% block javascript %}
<script>
    requirejs(['{% static "js/config.js" %}'], function() {
        requirejs(['app/user/signup']);
    });
</script>
{% endblock javascript %}
