{% extends 'layout.html' %}


{% load staticfiles %}


{% block left-flap %}
    {% include '_fragment/nav-flap.html' %}
{% endblock left-flap %}


{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/app/tocles.css' %}" type="text/css" >
{% endblock stylesheets %}


{% block javascript %}
<script src="{% static 'js/require.js' %}"></script>
<script>
    requirejs(['{% static "js/common.js" %}'], function () {
        requirejs(['app/default']);
    });
</script>
{% endblock javascript %}
