{% extends 'tocles/base.html' %}


{% load staticfiles %}


{% block content %}
{% spaceless %}

<div class="document">
    <div class="wrapper">
        <div class="inner">
            <div class="coming-soon">
                <p>
                    Tocles are a new way to get attention of experts <br>
                    on specific questions and publications.
                </p>
                <p style="padding-top: 40px;">
                    Coming soon&hellip; stay tuned !
                </p>
            </div>
        </div>
    </div>
</div>

{% endspaceless %}
{% endblock content %}
