{% extends 'tocles/base.html' %}

{% load staticfiles %}

{% block content %}
{% spaceless %}

<div style="text-align: center; padding-top: 100px">
    <p>Tocles are a new way to get attention of expert on specific questions and publications.</p>
    <p>Coming soon, stay tuned.</p>
</div>

{% endspaceless %}
{% endblock content %}


{% block javascript %}
<script src="{% static 'tmp/js/require.js' %}"></script>
<script>
    requirejs(['{% static "tmp/js/common.js" %}'], function () {
        requirejs(['app/user/library']);
    });
</script>
{% endblock javascript %}
