{% extends 'pages/base.html' %}

{% load staticfiles %}

{% block title %}About{% endblock %}

{% block page_content %}
    {% with brand='<strong>Etalia</strong>' %}
        <h1>About</h1>

        <h2>The Story</h2>
        <p>
            {{ brand }} was conceived by two scientists who felt the need for
            new ways in scholarly communication. The idea of an intelligent
            platform was born to discover new publications, connect with experts
            for
            discussions, comments and reviews, and disseminate one’s own
            writings.
        </p>

        <h2>How it works</h2>
        <p>
            {{ brand }} checks what you are reading in your reference
            library manager (e.g. <a href="http://www.zotero.org">Zotero</a> or <a
                href="http://www.mendeley.com">Mendeley</a>) and - based on the library
            content - generates a personal text fingerprint as a
            representation of your areas of interests. To understand your
            interests, {{ brand }} uses recent advances in natural language
            processing, machine learning, and statistics. By matching your
            personal fingerprint with the text fingerprints of publications, comments and
            other public texts,
            {{ brand }} provides you with personalized news streams and lets
            you engage in content-driven scholarly exchanges.
            Reading on a new topic or extending your research
            interests? Etalia will automatically adapt.
        </p>

        <h2>Keep up with new publications</h2>
        <p>
            {{ brand }} builds a personalized feed of new scientific
            publications within your areas of interests. You can
            upload the publications to your personal library, share them with
            friends and collaborators via social media, as well as dismiss
            publications that are less relevant to you. Based on your activity,
            {{ brand }} learns and refines its recommendations.
        </p>

        <h2>Discover</h2>
        <p>
            {{ brand }} lets you discover trending publications and hot topics
            in your area of interest and beyond based on different metrics such
            as <a href="http://www.altmetric.com/">Altmetric</a>&trade; score.
        </p>

        <h2>Dialogue</h2>
        <p>
            With {{ brand }}, you have the possibility to engage in threads,
            a new text-driven way to communicate with experts on specific
            topics. Threads can be private or public, open question or comment
            on a particular paper. Threads are pushed only to the news feed of
            researchers that share expertise on the topic, maximizing their
            engagement.
        </p>

        <h2>The Etalia Team</h2>
        <h4>Board Members</h4>
        <p>
            Norbert Schuff, Co-founder, Professor at UCSF<br>
            Nicolas Pannetier, Co-founder, Developer<br>
        </p>
        <h4>Advisory Board Members</h4>
        <p>
            <a href="http://profiles.ucsf.edu/richard.schneider">Rich Schneider</a>, Associate Professor at UCSF
        </p>
        <h4>Developers</h4>
        <p>
            Etienne Dauvergne, Frontend Developer
        </p>


        <h2>We are social</h2>
        <p id="about-networks">
            <a href="https://twitter.com/etaliaio" target="_blank"
               class="twitter">
                <span class="eai eai-twitter"></span>
            </a>
            <!--<a href="https://www.facebook.com/etalia.org" target="_blank"-->
               <!--class="facebook">-->
                <!--<span class="eai eai-facebook"></span>-->
            <!--</a>-->
            <a href="https://plus.google.com/+EtaliaIo" target="_blank"
               class="google">
                <span class="eai eai-google-plus"></span>
            </a>
        </p>
    {% endwith %}
{% endblock page_content %}

