{% extends 'pages/base.html' %}

{% load staticfiles %}

{% block title %}Contact us{% endblock %}
{% block page_content %}
{% with brand='<strong>Etalia</strong>' %}
    <h1>Contact us</h1>
    <p>
        Questions? Feeback? Anything?
    </p>
    <p>
        You can email us at
        <a href="mailto:contact@etalia.org" target="_top">contact@etalia.org</a>
        or tweet us
        <a href="http://www.twitter.com/etalia_org" target="_blank">@etalia_org.</a>
    </p>
    <!--<p>-->
        <!--We’d love to chat! Our live chat window is in the bottom right corner.-->
    <!--</p>-->
    <p id="about-networks">
        <a href="https://twitter.com/etalia_org" target="_blank" class="twitter">
            <span class="eai eai-twitter"></span>
        </a>
        <a href="https://www.facebook.com/etalia.org" target="_blank" class="facebook">
            <span class="eai eai-facebook"></span>
        </a>
        <a href="https://plus.google.com/+EtaliaIo" target="_blank" class="google">
            <span class="eai eai-google-plus"></span>
        </a>
    </p>
{% endwith %}
{% endblock page_content %}

