{% extends 'pages/base.html' %}

{% load staticfiles %}

{% block page_content %}
{% with brand='<strong>Etalia</strong>' %}

    <h1>{{ brand }} Support</h1>
    <p>
        You’ve got a question, problem or just want some more information?<br>
        Have a peek below at our knowledge base.<br>
        Not answering your question? <a href="mailto:contact@etalia.io" target="_top">contact us</a>.
    </p>

    <h1>Frequently Asked Questions</h1>

    <div id="faq">
        <h2><a href="#faq1">How does it work?</a></h2>
        <div id="faq1" class="collapse">
            <p>
                {{ brand }} checks what you are reading in your Reference Library.
                {{ brand }} leverages the content of your library using recent advances
                in natural language processing, machine learning, and statistics
                to understand your interests. {{ brand }} builds news streams that
                match your personal interests based on your library text content.
                Reading a new paper or extending your research interests?
                {{ brand }} will automatically adapt.
            </p>
        </div>

        <h2><a href="#faq2">How can I sign in?</a></h2>
        <div id="faq2" class="collapse">
            <p>
                To use {{ brand }} you need access to the internet and the {{ brand }} homepage, that you
                probably have already if you are reading this. You also need an account with a reference
                library (e.g. <a href="www.zotero.org">Zotero</a> or <a href="www.mendeley.com">Mendeley</a>).
                Use your reference library credentials to sign in to {{ brand }} from the homepage.
            </p>
        </div>

        <h2><a href="#faq3">Why {{ brand }} only supports Zotero and Mendeley?</a></h2>
        <div id="faq3" class="collapse">
            <p>
                <a href="www.zotero.org">Zotero</a> and <a href="www.mendeley.com">Mendeley</a> are the
                currently two reference software managers that provide
                the ability for third party application, like {{ brand }}, to access your library content
                through authentication. Both use the <a href="https://en.wikipedia.org/wiki/OAuth">
                OAuth protocol</a>, which is a widely adopted, open protocol for users to delegate
                authorization in a secure manner. OAuth is used to authorize requests between {{ brand }}
                and your reference managers.<br> {{ brand }} will serve other reference managers as
                support for OAuth is implemented.
            </p>
        </div>
        <h2><a href="#faq4">What  personal information does  {{ brand }} ask me to provide and why?</a></h2>
        <div id="faq4" class="collapse">
            <p>
                {{ brand }} needs your email address when you sign in with your reference manager account
                and asks for your first name and last name. By granting access to your reference software
                manager, you also allows {{ brand }} to get in sync with the publications you save in
                your library. {{ brand }} does not share any of this information with third parties.
            </p>
        </div>
        <h2><a href="#faq5">Is my data secure?</a></h2>
        <div id="faq5" class="collapse">
            <p>
                Yes. We are committed to ensure data security for all users.
                We understand how important security is, and how crucial is the integrity of your reservation information.
                To that end, all communication with the {{ brand }} system is encrypted.
            </p>
        </div>
        <h2><a href="#faq6">What about my privacy?</a></h2>
        <div id="faq6" class="collapse">
            <p>
                We will never sell, rent or trade your personal information to others without your prior consent.
            </p>
        </div>
        <h2><a href="#faq7">How  can I delete my account with  {{ brand }}?</a></h2>
        <div id="faq7" class="collapse">
            <p>
                Under Settings, you find the option to delete your account.
            </p>
        </div>

        <h2><a href="#faq8">What if {{ brand }} does not work ?</a></h2>
        <div id="faq8" class="collapse">
            <p>
                {{ brand }} might be on maintenance and we apologize for any inconvenience. If {{ brand }}
                is up and running and you cannot access your account, most likely cookies are disabled
                in your web browser and you have to enable them. Cookies are used to make sign-in to
                {{ brand }} seamless, that is you will not have to sign-in again if you go back to {{ brand }}
                the next day.
            </p>
        </div>

        <h2><a href="#faq9">What makes {{ brand }} different from Google Scholar or ResearchGate?</a></h2>
        <div id="faq9" class="collapse">
            <p>
                {{ brand }} recommends publications based on the content of your reference
                library unlike Google Scholar or ResearchGate, which makes suggestions based on
                your own publication only or static keywords.
            </p>
        </div>

        <h2><a href="#faq10">How often are recommendations updated?</a></h2>
        <div id="faq10" class="collapse">
            <p>
                {{ brand }} updates recommendations daily.
                You can also subscribe to receive notifications via email.
            </p>
        </div>

        <h2><a href="#faq11">What is "My Stream"?</a></h2>
        <div id="faq11" class="collapse">
            <p>
                Select “My Stream” for a listing of new publications that match your interests profile.
                From the listing, you can directly link to individual publications, upload them to your
                reference library, share them with collaborators, and much more.
            </p>
        </div>

        <h2><a href="#faq12">What is "Trends"?</a></h2>
        <div id="faq12" class="collapse">
            <p>
                Select “Trend” for a listing of new publications that have reached high general attention
                according to the <a href="http://www.altmetric.com">Altmetric</a> score and may be of interest
                to you based on your profile.
            </p>
        </div>

        <h2><a href="#faq13">What is "My Threads"?</a></h2>
        <div id="faq13" class="collapse">
            <p>
                “My Threads” is a new text-driven way to communicate with experts on specific topics,
                such as comments on a pre-print you may have uploaded.  Select “My Threads” to monitor
                your communications with a circle of experts who started with you discussion.
                <b>This service is not yet released and we will roll it out soon. stay tuned.</b>
            </p>
        </div>

        <h2><a href="#faq14">Why the suggested papers are not matching my interest?</a></h2>
        <div id="faq14" class="collapse">
            <p>
                We are trying our best to improve our recommendation engine so that it
                provides you with accurate and relevant suggestions. This is not an easy
                task, we may be off sometimes but we are improving based on your feedback.
                You can do 3 things to help us:
                <ol>
                    <li>You can provide feedback directly under using the
                        ban (<span class="eai eai-remove"></span>) icon.
                    </li>
                    <li>Under settings, you can tuned {{ brand }}'s
                        recommendation engine to your need.
                    </li>
                    <li>You can make sure that the references that your store in
                        reference manager are relevant to your interest.
                    </li>
                </ol>
            </p>
        </div>

    </div>
{% endwith %}
{% endblock page_content %}

