{% extends 'layout.html' %}

{% load staticfiles %}

{% block body %}
    <!-- start top-bar -->
    <div id="top-bar" class="bar">
        <button id="toggle-nav" class="btn-square" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <a id="brand" href="javascript: void(0)" title="Et al.">
            <img src="{% static 'tmp/img/logo.svg' %}" alt="Et al.">
        </a>

        {% block top-bar-controls %}{% endblock top-bar-controls %}
    </div>
    <!-- end top-bar -->

    <!-- start profile-dropdown -->
    <div id="profile-dropdown">
        <ul>
            <li>
                <a href="javascript: void(0)">My Profile</a>
            </li>
            <li>
                <a href="javascript: void(0)">Invite</a>
            </li>
            <li>
                <a href="javascript: void(0)">Logout</a>
            </li>
        </ul>
        <img src="{% static 'tmp/img/avatar.jpg' %}" alt="Avatar" width="100" height="100">
    </div>
    <!-- end profile-dropdown -->

    {% block documents %}{% endblock documents %}

    <!-- start nav-flap -->
    <div id="nav-flap" class="flap left">
        <ul id="main-nav">
            <li>
                <a href="javascript: void(0)">Stream</a>
            </li>
            <li class="active">
                <a href="javascript: void(0)">Trend</a>
            </li>
            <li>
                <a href="javascript: void(0)">Library</a>
            </li>
            <li class="separator"></li>
            <li>
                <a href="javascript: void(0)">Settings</a>
            </li>
            <li>
                <a href="javascript: void(0)">Stats</a>
            </li>
            <li>
                <a href="javascript: void(0)">Help</a>
            </li>
        </ul>
        <div id="sub-nav">
            <ul>
                <li>
                    <a href="javascript: void(0)">Support</a>
                </li>
                <li>
                    <a href="javascript: void(0)">Blog</a>
                </li>
                <li>
                    <a href="javascript: void(0)">Terms</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="javascript: void(0)">About</a>
                </li>
                <li>
                    <a href="javascript: void(0)">Contact</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- end nav-flap -->

    {% block right-flap %}{% endblock right-flap %}

    <div id="backdrop"></div>
{% endblock body %}

{% block stylesheets %}
    <link href="{% static 'tmp/css/app/main.css' %}" rel="stylesheet" type="text/css">
{% endblock stylesheets %}

{% block javascript %}
    <script src="{% static 'tmp/js/require.js' %}"></script>
    <script>
        requirejs(['{% static "tmp/js/common.js" %}'], function () {
            requirejs(['app/main']);
        });
    </script>
{% endblock javascript %}
