{% spaceless %}

{% load avatar_tags %}

<div class="modal" id="names-modal" role="dialog" aria-labelledby="namesModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="namesModalTitle">Update your name</h4>
            </div>
            <form role="form" method="POST" data-async action="{% url 'user:update-name' %}"
                  id="names-form" data-root="#names-modal" data-target="#names-section">
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="form-errors"></div>
                    {% for field in form_name %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default btn-md">Close</button>
                    <button id="save-names" type="submit" class="btn btn-primary btn-md">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal" id="title-modal" role="dialog" aria-labelledby="titleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="titleModalLabel">Update your title (PhD, MD, etc.)</h4>
            </div>
            <form role="form" method="POST" data-async action="{% url 'user:update-title' %}"
                  id="title-form" data-root="#title-modal" data-target="#title-section">
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="form-errors"></div>
                    {% for field in form_title %}
                    <div class="form-group">
                        {# {{ field.label_tag }} #}
                        {{ field }}
                    </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default btn-md">Close</button>
                    <button id="save-title" type="submit" class="btn btn-primary btn-md">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal" id="position-modal" role="dialog" aria-labelledby="positionModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="positionModalLabel">Update your position (Professor, PostDoc, etc.)</h4>
            </div>
            <form role="form" method="POST"data-async action="{% url 'user:update-position' %}"
                  id="position-form" data-root="#position-modal" data-target="#position-section">
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="form-errors"></div>
                    {% for field in form_position %}
                    <div class="form-group">
                        {# {{ field.label_tag }} #}
                        {{ field }}
                    </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default btn-md">Close</button>
                    <button id="save-position" type="submit" class="btn btn-primary btn-md">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal" id="affiliation-modal" role="dialog" aria-labelledby="affiliationModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="affiliationModalLabel">Update your affiliation</h4>
            </div>
            <form role="form" method="POST" data-async action="{% url 'user:update-affiliation' %}"
                  id="affiliation-form" data-root="#affiliation-modal" data-target="#affiliation-section">
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="form-errors"></div>
                    {% for field in form_affiliation %}
                    <div class="form-group">
                        {#                    {{ field.label_tag }}#}
                        {{ field }}
                    </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default btn-md">Close</button>
                    <button id="save-affiliation" type="submit" class="btn btn-primary btn-md">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endspaceless %}
