{% extends 'feeds/base.html' %}

{% load staticfiles %}
{% load disqus_tags %}
{% load user_taste %}

{% block toggle-pinned %}{% endblock toggle-pinned %}
{% block cluster-selector %}{% endblock cluster-selector %}
{% block timespan-selector %}{% endblock timespan-selector %}

{% block content %}
{% spaceless %}

    <!-- start list -->
    <div id="list" class="document" data-load-url="{% url 'user:library-xml' %}" data-type="{{ tab }}">
        <div class="wrapper">
            <div class="list-tabs">
                <div class="inner">
                    <ul>
                        <li>
                            <a href="{% url 'user:library' %}" class="user-library{% if tab == 'main' %} active{% endif %}">
                                <strong>Articles</strong> (<span>{{ library_counter }}</span>)
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'user:library-pins' %}" class="user-library-pins{% if tab == 'pin' %} active{% endif %}">
                                <strong>Pins</strong> (<span>{{ likes_counter }}</span>)
                            </a>
                        </li>
                        <li>
                            {% if tab == 'trash' %}
                            <a id="user-library-trash-clear" href="javascript: void(0)" title="Clear trash"
                               class="btn btn-default btn-xs"{% if 0 == trash_counter %} style="display:none"{% endif %}>
                                <span class="eai eai-close"></span>
                            </a>
                            {% endif %}
                            <a href="{% url 'user:library-trash' %}" class="user-library-trash{% if tab == 'trash' %} active{% endif %}">
                                <strong>Trash</strong> (<span>{{ trash_counter }}</span>)
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="inner">
                <div class="endless_data thumb-list async-content">
                    {% include page_template %}
                </div>
            </div>
        </div>
    </div>
    <!-- end list -->

    {% include 'feeds/detail.html' %}

{% endspaceless %}
{% endblock content %}


{% block javascript %}
<script src="{% static 'tmp/js/require.js' %}"></script>
<script>
    requirejs(['{% static "tmp/js/common.js" %}'], function () {
        requirejs(['app/user/library']);
    });
</script>
{% endblock javascript %}
