<div data-thread-thumb></div>

<div class="invite-treat-content">
    <div class="invite-treat-preview thread-content">
        {{{content}}}
    </div>
    <p style="text-align:center;">
        <a href="javascript: void(0)" class="invite-treat-more">Read more&hellip;</a>
    </p>
    <p class="buttons">
        <button type="button" class="btn btn-primary invite-treat-accept">Accept</button>
        <button type="button" class="btn btn-default invite-treat-decline">Decline</button>
    </p>
</div>
