<img src="{{photo_url}}" alt="{{first_name}} {{last_name}}" width="200" height="200">
<div class="user-card">
    <p class="user-name">{{first_name}} {{last_name}}</p>
    <p class="user-affiliation">SF Institute of technologies</p>
    <p class="user-actions">
        <a href="javascript: void(0)">
            <!--{% if user_followed %}
            - Followed
            {% else %}-->
            + Follow
            <!--{% endif %}-->
        </a>
        <a href="javascript: void(0)">View profile</a>
    </p>
</div>
