{% spaceless %}
<!-- start filter-flap -->
<a id="toggle-filter" href="javascript: void(0)">
    <span class="eai eai-left"></span>
</a>

<div id="filter-flap" class="flap right">
    <div class="flap-scroll">
        <div class="flap-inner">
            <div class="filter-group active" data-id="journal">
                <a href="javascript: void(0)" class="filter-toggle">
                    Journals <span class="eai eai-down"></span>
                </a>
                <div class="filter-filters collapse in">
                    <ul>
                        {% for group in control_session.filters %}
                            {% if group.id == 'journal' %}
                                {% for pk, title, count in journals %}
                                <li{% if forloop.counter0 > 9 and not pk in group.pk %} style="display:none;"{% endif %}>
                                    <a href="javascript: void(0)" data-id="{{ pk }}" title="{{ title }}"
                                       {% if pk in group.pk %} class="active" {% endif %}>
                                        <span class="filter-count">({{ count }})</span>
                                        <span class="filter-checkbox"></span> {{ title }}
                                    </a>
                                </li>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <a href="javascript: void(0)" class="filter-more">
                        More filters&hellip;
                    </a>
                </div>
            </div>
            <div class="filter-group active" data-id="author">
                <a href="javascript: void(0)" class="filter-toggle">
                    Author <span class="eai eai-down"></span>
                </a>
                <div class="filter-filters collapse in">
                    <ul>
                        {% for group in control_session.filters %}
                            {% if group.id == 'author' %}
                                {% for pk, title in authors %}
                                <li{% if forloop.counter0 > 9 and not pk in group.pk %} style="display:none;"{% endif %}>
                                    <a href="javascript: void(0)" data-id="{{ pk }}" title="{{ title }}"
                                       {% if pk in group.pk %} class="active" {% endif %}>
                                        <span class="filter-checkbox"></span> {{ title }}
                                    </a>
                                </li>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <a href="javascript: void(0)" class="filter-more">
                        More filters&hellip;
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end filter-flap -->
{% endspaceless %}
