{% spaceless %}

{% load navbar_extra %}

<!-- start nav-flap -->
<div id="nav-flap" class="flap left">
    <div class="flap-scroll">
        <div class="flap-inner">
            <ul id="main-nav">
                <li class="{% active request 'my-feeds.+' %}">
                    <a href="{% url 'feeds:my_feeds' %}">
                        <span class="eai eai-feed"></span>
                        My Feeds
                    </a>
                </li>
                <li class="{% active request 'my-papers.+' %}">
                    <a href="{% url 'library:my_papers' %}">
                        <span class="eai eai-paper"></span>
                        My Library
                    </a>
                </li>
                <li class="{% active request 'my-threads.+' %}">
                    <a href="{% url 'threads:my_threads' %}">
                        <span class="eai eai-comments"></span>
                        My Threads
                    </a>
                </li>

                <li class="separator"></li>

                <li class="{% active request 'user/settings.+' %}">
                    <a href="{% url 'user:settings' %}">
{#                       <span class="eai eai-settings"></span>#}
                        <span class="eai eai-wrench"></span>
                        Settings
                    </a>
                </li>
{#                <li class="{% active request 'help.+' %}">#}
{#                    <a href="{% url 'core:help' %}">#}
{#                        <span class="eai eai-question"></span>#}
{#                        Help#}
{#                    </a>#}
{#                </li>#}
            </ul>

            <div id="sub-nav">
                <div class="social">
                    <a href="https://twitter.com/etaliaio" target="_blank" class="twitter">
                        <span class="eai eai-twitter"></span>
                    </a>
                    <a href="https://www.facebook.com/etalia.io" target="_blank" class="facebook">
                        <span class="eai eai-facebook"></span>
                    </a>
                    <a href="https://plus.google.com/+EtaliaIo" target="_blank" class="google-plus">
                        <span class="eai eai-google-plus"></span>
                    </a>
                </div>
                <ul>
                    <li>
                        <a href="{% url 'core:support' %}">Support</a>
                    </li>
                    <li>
                        <a href="http://blog.etalia.io" target="_blank">Blog</a>
                    </li>
                    <li>
                        <a href="{% url 'core:contact' %}">Contact</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="{% url 'core:about' %}">About</a>
                    </li>
                    <li>
                        <a href="{% url 'core:terms_use' %}">Terms</a>
                    </li>
                    <li>
                        <a href="{% url 'core:terms_privacy' %}">Privacy</a>
                    </li>
                </ul>
                <div class="copyright">
                    Copyright &copy; 2015-{% now "Y" %} Etalia, Inc<br>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end nav-flap -->
{% endspaceless %}
