{% spaceless %}

{% load navbar_extra %}

<!-- start nav-flap -->
<div id="nav-flap" class="flap left">
    <div class="flap-scroll">
        <div class="flap-inner">
            <ul id="main-nav">
                <li class="{% active request 'feeds.+' %}">
                    <a href="{% url 'feeds:my_feeds' %}">
                        <span class="eai eai-feed"></span>
                        My Feeds
                    </a>
                </li>
                <li class="{% active request 'papers.+' %}">
                    <a href="{% url 'papers:my_papers' %}">
                        <span class="eai eai-paper"></span>
                        My Papers
                    </a>
                </li>
                <li class="{% active request 'threads.+' %}">
                    {# TODO change route name 'my_threads' #}
                    <a href="{% url 'threads:my_threads' %}">
                        <span class="eai eai-comments"></span>
                        My Threads
                    </a>
                </li>

                <li class="separator"></li>

                <li class="{% active request 'user/settings.+' %}">
                    <a href="{% url 'user:settings' %}">
                       <span class="eai eai-settings"></span>
                        Settings
                    </a>
                </li>
{#                <li class="{% active request 'help.+' %}">#}
{#                    <a href="{% url 'core:help' %}">#}
{#                        <span class="eai eai-question"></span>#}
{#                        Help#}
{#                    </a>#}
{#                </li>#}
            </ul>
            <div id="sub-nav">
                <ul>
                    <li>
                        <a href="{% url 'core:support' %}">Support</a>
                    </li>
                    <li>
                        <a href="http://blog.etalia.io" target="_blank">Blog</a>
                    </li>
                    <li>
                        <a href="{% url 'core:contact' %}">Contact</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="{% url 'core:about' %}">About</a>
                    </li>
                    <li>
                        <a href="{% url 'core:terms_use' %}">Terms of Use</a>
                    </li>
                    <li>
                        <a href="{% url 'core:terms_privacy' %}">Privacy Policy</a>
                    </li>
                </ul>
                <div class="copyright">
                    Copyright &copy; 2015-{% now "Y" %} Etalia, LLC<br>
                    All rights reserved. version {{ version }}
                </div>
            </div>

        </div>
    </div>
</div>
<!-- end nav-flap -->
{% endspaceless %}
