<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;">&#13;
<head>&#13;
    <meta name="viewport" content="width=device-width" />&#13;
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />&#13;
    <title>etalia.io | Invitation</title>&#13;
    &#13;
    &#13;
    &#13;
</head>&#13;
&#13;
<body bgcolor="#f6f6f6" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%; margin: 0; padding: 0;">&#13;
&#13;
<!-- body -->&#13;
<table class="body-wrap" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; width: 100%; margin: 0; padding: 20px;">&#13;
    <tr style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;">&#13;
        <td style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;"></td>&#13;
        <td class="container" bgcolor="#FFFFFF" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; display: block !important; max-width: 700px !important; clear: both !important; margin: 0 auto; padding: 0; border: 1px solid #f0f0f0;">&#13;
            <!-- content -->&#13;
            <div class="content" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; max-width: 700px; display: block; margin: 0 auto; padding: 20px;">&#13;
                <table style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; width: 100%; margin: 0; padding: 0;">&#13;
                    <tr style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;">&#13;
                        <td style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;">&#13;
                            <div style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;">&#13;
                                <p style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 15px; line-height: 1.6; font-weight: normal; margin: 0 0 10px; padding: 0;">Hi,</p>&#13;
                                <p style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 15px; line-height: 1.6; font-weight: normal; margin: 0 0 10px; padding: 0;">&#13;
                                    We are two researchers who think that more can be done to disseminate scientific discoveries and&#13;
                                    empower scholarly dialogues. To go beyond traditional limits, we have&#13;
                                    launched Etalia (<a href="https://etalia.io" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; color: #348eda; margin: 0; padding: 0;">etalia.io</a>).&#13;
                                </p>&#13;
                                <p style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 15px; line-height: 1.6; font-weight: normal; margin: 0 0 10px; padding: 0;">&#13;
                                    With Etalia you can receive personalized article recommendations and join&#13;
                                    scholarly dialogues around subject matters. Specifically, Etalia uses your&#13;
                                    “text-fingerprint” based on your personal reference library.&#13;
                                    Currently we are supporting two library managers: Mendeley and Zotero.&#13;
                                </p>&#13;
                                <p style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 15px; line-height: 1.6; font-weight: normal; margin: 0 0 10px; padding: 0;">&#13;
                                    Etalia is free and it saves you time.
                                    Check it out at <a href="https://etalia.io" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; color: #348eda; margin: 0; padding: 0;">etalia.io</a>.&#13;
                                </p><p style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 15px; line-height: 1.6; font-weight: normal; margin: 0 0 10px; padding: 0;">&#13;
                                </p><p style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 15px; line-height: 1.6; font-weight: normal; margin: 0 0 10px; padding: 0;">&#13;
                                    We would also like to hear from you because your feedback really matters to improve Etalia.&#13;
                                    Tell us what you think at <a href="mailto:contact@etalia.io" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; color: #348eda; margin: 0; padding: 0;">contact@etalia.io</a> or come chat with us directly on Etalia.&#13;
                                </p>&#13;
                                <p style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 15px; line-height: 1.6; font-weight: normal; margin: 0 0 10px; padding: 0;">&#13;
                                    We are looking forward seeing you on <a href="https://etalia.io" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; color: #348eda; margin: 0; padding: 0;">Etalia</a>,&#13;
                                </p>&#13;
                                <p style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 15px; line-height: 1.6; font-weight: normal; margin: 0 0 10px; padding: 0;">&#13;
                                    Nicolas<br style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;" />&#13;
                                    Team Etalia&#13;
                                </p>&#13;
                            </div>&#13;
                        </td>&#13;
                    </tr>&#13;
                </table>&#13;
            </div>&#13;
            <!-- /content -->&#13;
        </td>&#13;
        <td style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;"></td>&#13;
    </tr>&#13;
</table>&#13;
<!-- /body -->&#13;
&#13;
<!-- footer -->&#13;
<table class="footer-wrap" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; width: 100%; clear: both !important; margin: 0; padding: 0;">&#13;
    <tr style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;">&#13;
        <td style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;"></td>&#13;
        <td class="container" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; display: block !important; max-width: 700px !important; clear: both !important; margin: 0 auto; padding: 0;">&#13;
            <!-- content -->&#13;
            <div class="content" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; max-width: 700px; display: block; margin: 0 auto; padding: 20px;">&#13;
                <table style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; width: 100%; margin: 0; padding: 0;">&#13;
					<tr style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;">&#13;
						<td align="center" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;">&#13;
							<p style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 12px; line-height: 1.6; color: #666; font-weight: normal; margin: 0 0 10px; padding: 0;">Etalia will not send you marketing messages because you received this invitation.</p>&#13;
						    <p style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 12px; line-height: 1.6; color: #666; font-weight: normal; margin: 0 0 10px; padding: 0;">To stop receiving emails from etalia, click <a href="%unsubscribe_url%" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; color: #348eda; margin: 0; padding: 0;">here</a>.</p>&#13;
                            <p style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 12px; line-height: 1.6; color: #666; font-weight: normal; margin: 0 0 10px; padding: 0;">© 2016. Etalia, Inc.</p>&#13;
                        </td>&#13;
					</tr>&#13;
                </table>&#13;
            </div>&#13;
            <!-- /content -->&#13;
        </td>&#13;
        <td style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;"></td>&#13;
    </tr>&#13;
</table>&#13;
<!-- /footer -->&#13;
&#13;
</body>&#13;
</html>
