.card {
    position: relative;
}

.card p {
    margin : 0;
}

.card .title {
    font-size: 20px;
    line-height: 24px;
    color: #1e232f;
    margin: 0 0 8px 0;
}

.card .title a {
    color: #1e232f;
}
.card .title a:hover {
    color: #6b6d70;
    text-decoration: none;
}

.card .title span {
    color: #00695c;
    display: inline-block;
    font-size: 70%;
    vertical-align: 5%;
}

.card .title span.new {
    color: #ffffff;
    background-color: #00695c;
    padding: 2px 3px 3px 3px;
    border-radius: 2px;
    font-size: 60%;
    line-height: 0.7;
    vertical-align: 40%;
}

.card .authors {
    font-size: 15px;
    line-height: 18px;
    color: #6b6d70;
    margin-bottom: 8px;
}

.card .authors strong {
    color: #00695c;
}

.card .infos p:first-child {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 8px;
    color: #86b5b0;
}

.card .infos p.truncate {
    display: block;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card .infos p.truncate em {
    display:block;
    font-weight: normal;
    font-style: italic;
}

.card p.doi {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 8px;
    color: #86b5b0;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: italic;
    font-weight: normal;
}

.card .icons {
    height: 36px;
    width: 116px;
}

.card .icons > span {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    float: left;
}

.card .icons > span:last-child {
    margin-right: 0;
}

.card .altmetric-embed,
.card .altmetric-embed a,
.card .altmetric-embed img {
    display: block !important;
    width: 100% !important;
    height: 100% !important;
    background-size: 100% 100%;

}

.card .type,
.card .comment,
.card .member {
    background-color: #ffffff;
    border: 1px solid #cbced1;
    border-radius: 16px;
    color: #6b6d70;
    font-size: 20px;
    line-height: 32px;
    position: relative;
    text-align: center;
}

.card .comment .count,
.card .member .count {
    border-color: 1px solid #cbced1;
}

.card .cluster-icon span {
    width: 15px;
    height: 15px;
}

.card .cluster-icon span {
    border-radius: 15px 0 0 0;
}

.card .cluster-icon span + span {
    border-radius: 0 15px 0 0;
}

.card .cluster-icon span + span + span {
    border-radius: 0 0 15px 0;
}

.card .cluster-icon span + span + span + span {
    border-radius: 0 0 0 15px;
}

/* Landscape smartphones  */
@media (min-width: 480px) {
    .card .infos {
        position: relative;
        padding: 0 136px 4px 0;
    }

    .card .infos p.truncate {
        margin-bottom: 0;
    }

    .card .icons {
        position: absolute;
        right: 0;
        top: 0;
        text-align: right;
    }
}

/* Small devices */
@media (min-width: 600px) {
    .card .authors {
        margin-bottom: 4px;
    }

    .card .infos p:first-child {
        height: 32px;
        line-height: 32px;
    }

    .card .infos p.truncate {
        position: relative;
        padding-right: 100px;
    }

    .card .infos p.truncate em {
        position: absolute;
        top: 0;
        right: 0;
        width: 80px;
        text-align: right;
    }
}
