html {
    width: 100%;
    height: 100%;
}

body {
    padding: 0;
}

/* ---------------------------------- LAYOUT ---------------------------------- */

.document {
    position: relative;
    z-index: 2;
    padding-top: 56px;
    transition: margin .25s;
}

#backdrop {
    z-index: 6;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: rgba(255, 255, 255, .94);
    opacity: 0;
    transition: opacity .25s;

    display: none;
}

#busy-backdrop {
    z-index: 9999;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: rgba(255, 255, 255, .8);
    opacity: 0;
    transition: opacity .25s;

    display: none;
}

#busy-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    margin: -150px 0 0 -150px;
    text-align: center;
}

#busy-modal .sk-cube-grid {
    margin: 0 auto 10px auto;
}

#busy-modal > p {
    font-size: 16px;
    font-style: italic;
}

.endless_more {
    display: block;
    overflow: hidden;
}

.bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 56px;

    background: #d0e6e3;
    /*background: rgb(201, 231, 243);*/
    border-bottom: 1px solid #cbced1;
}

.wrapper {
    box-sizing: content-box;
    transition: padding .25s, margin .25s;
}

.inner {
    position: relative;
    max-width: 878px;
    margin: auto;
    padding: 10px;
    background-color: #ffffff;
}

.flap {
    position: fixed;
    top: 0;

    height: 100%;
    width: 244px;
    overflow: hidden;

    background-color: #f5f5f5;
}

.flap-scroll {
    width: 264px;
    height: 100%;
    overflow-y: scroll;
}

.flap-inner {
    min-height: 100%;
    position: relative;
    width: 244px;
}

.flap.left {
    z-index: 11;
    left: -244px;
    transition: left .25s;
}

.flap.right {
    z-index: 12;
    right: -244px;
    transition: right .25s;
}

body.flap-opened #backdrop {
    display: block;
    opacity: 1;
}

body.busy #busy-backdrop {
    display: block;
    opacity: 1;
}

body.flap-opened.left .flap.left {
    left: 0;
}

body.flap-opened.right .flap.right {
    right: 0;
}

span.count {
    background-color: #ffffff;
    border: 1px solid #cbced1;
    border-radius: 9px;
    bottom: -3px;
    color: #6b6d70;
    display: block;
    font-size: 10px;
    height: 18px;
    left: -3px;
    line-height: 15px;
    position: absolute;
    width: 18px;
}



/* ------------------------------------ ACTIONS ------------------------------------ */

.actions a {
    display: block;
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 20px;
    color: #cbced1;
    margin-bottom: 20px;
}

.actions a:last-child {
    margin-bottom: 0;
}

.actions a:hover {
    color: #313233;
    text-decoration: none;
}

.actions a.active {
    color: #00695c;
}

.actions-group {
    margin-bottom: 40px;
}

.actions-group a:last-child {
    margin-bottom: 0;
}

/* ------------------------------------ TOP BAR ------------------------------------ */

#top-bar {
    z-index: 5;
}

#top-bar .wrap {
    float: right;
    margin: 8px 8px 0 0;
}

#brand {
    display: none;
    float: left;
    margin: 9px 0 0 10px;
}

/* BUTTONS */

.bar button {
    background: #ffffff;
    border: 1px solid #cbced1;
    color: #7a7d80;
    text-align: center;
    overflow: hidden;
    padding: 1px 0;
}

.bar button:hover {
    border-color: #7a7d80;
    color: #313233;
}

.bar button:active {
    border-color: #00695c;
    color: #313233;
}

.bar button .eai {
    display: inline-block;
    font-size: 24px;
    height: 36px;
    line-height: 36px;
}

.bar .btn-square {
    width: 38px;
    height: 38px;
    border-radius: 2px;
}

.bar .btn-circle {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

#toggle-nav {
    float: left;
    margin: 9px 0 0 9px;
    padding: 10px 9px;
}

#toggle-nav .icon-bar {
    display: block;
    height: 3px;
    margin-bottom: 3px;
    background-color: #7a7d80;
}

#toggle-nav:hover .icon-bar {
    background-color: #313233;
}

#toggle-nav .icon-bar:last-child {
    margin: 0;
}

#toggle-profile {
    float: right;
    margin: 8px 8px 0 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
}

#toggle-profile img {

}

/* PROFILE */

#profile-dropdown {
    display: none;
    position: fixed;
    z-index: 40;
    top: 56px;
    right: 0;
    background-color: #00695c;
    width: 244px;
    padding: 15px 15px 15px 20px;
}

#profile-dropdown > ul {
    float: left;
    padding: 0;
    margin: 0;
    list-style: none;
}

#profile-dropdown > ul > li {
    margin-bottom: 10px;
}

#profile-dropdown > ul > li:last-child {
    margin-bottom: 0;
}

#profile-dropdown > ul > li > a {
    display: block;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}

#profile-dropdown > img {
    float: right;
    border-radius: 50px;
    overflow: hidden;
}

#profile-dropdown.signin {
    padding: 22px;
}

a.btn-provider {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    display: inline-block;
    background-color: #ffffff;
    border-radius: 4px;
    color: #00695c;
    font-size: 24px;
    height: 48px;
    line-height: 48px;
    margin-bottom: 15px;
    text-align: center;
    text-decoration: none;
    width: 200px;
}

a.btn-provider:last-child {
    margin-bottom: 0;
}

a.btn-provider span {
    border-right: 1px solid #408f85;
    float: left;
    font-size: 36px;
    height: 48px;
    line-height: 48px;
    width: 50px;
}

a.btn-provider:hover {
    background-color: #eeeeee;
    color: #004d44;
}

/* ------------------------------------ NAVS ------------------------------------ */

#nav-flap .flap-inner {
    padding-bottom: 100px;
}

#main-nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

#main-nav > li {
    height: 54px;
    line-height: 54px;
}

#main-nav > li > a {
    display: block;
    height: 54px;
    padding-left: 20px;
    font-size: 15px;
    color: #7a7d80;
    text-transform: uppercase;
    text-decoration: none;
}

#main-nav > li > a > span {
    font-size: 12px;
    color: #9fa2a6;
}

#main-nav > li.separator {
    padding: 27px 42px 0 42px;
}

#main-nav > li.separator:before {
    display: block;
    content: " ";
    border-bottom: 1px solid #cbced1;
}

#main-nav > li > a:hover {
    background-color: #dfe2e6;
    color: #313233;
}

#main-nav > li.active > a {
    background-color: #00695c;
    color: #ffffff;
}

#main-nav > li.active > a  > span {
    color: #d9d9d9;
}

#main-nav .eai {
    padding: 5px;
}


#sub-nav {
    position: absolute;
    width: 100%;
    bottom: 10px;
}

#sub-nav > ul {
    list-style: none;
    font-size: 80%;
    margin: 0;
    padding: 5px 20px 0 20px;
    width: 112px;
    float: right;
}

#sub-nav > ul > li {
    line-height: 24px;
    text-align: right;
}

#sub-nav > ul > li > a {
    /*color: #ffffff;*/
    color: #7a7d80;
}

#sub-nav .social {
    font-size: 80%;
    width: 100%;
    text-align: center;
    float: left;
    margin: 0;
    padding: 0 10px 0 10px;
    color: #7a7d80;
    border-bottom: 1px solid #cbced1;
}

#sub-nav .social a {
    /*display: inline-block;*/
    padding: 0 10px 0 10px;
    line-height: 24px;
    text-align: center;
    /*float: left;*/
    color: #7a7d80;
    text-decoration: none;
}

#about-networks {
    margin-top: 20px;
}

#sub-nav .copyright {
    font-size: 60%;
    width: 100%;
    padding: 5px 20px 0 20px;
    float: right;
    text-align: right;
    margin: 0;
    color: #7a7d80;
    /*border-top: 1px solid #cbced1;*/
}

/* -------------------------------------- SIGNUP -------------------------------------- */

#signup-form {
    max-width: 400px;
    margin: 150px auto 0 auto;
}

#signup-form h3 {
    text-align: center;
    margin-bottom: 20px;
}

#signup-form .form-footer {
    text-align: center;
    margin-top: 20px;
}

#signup-form .form-inner {
    margin-bottom: 30px;
}

#signup-form ul.errorlist > li {
    list-style: none;
}

#signup-form .error-message {
    padding-bottom: 20px;
    text-align: center;
}

#signup-form input {
    border-radius: 0;
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid #cccccc;
    box-shadow: none;
    outline: none;
}

/* ------------------------------------ BOOTSTRAP ------------------------------------ */

p:empty {
    margin: 0;
}

.btn {
    position: relative;
    font-size: 16px;
    padding: 5px 10px;
}

.btn-lg,
.btn-group-lg > .btn {
    padding: 10px 16px;
    font-size: 18px;
    /*line-height: 1.3333333;*/
    /*border-radius: 6px;*/
}

.btn-sm,
.btn-group-sm > .btn {
    padding: 5px 10px;
    font-size: 12px;
    /*line-height: 1.5;*/
    /*border-radius: 3px;*/
}

.btn-xs,
.btn-group-xs > .btn {
    padding: 1px 5px;
    font-size: 12px;
    /*line-height: 1.5;*/
    /*border-radius: 3px;*/
}

.btn:active, .btn.active {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-default {
    color: #7a7d80;
    background-color: #ffffff;
    border-color: #86b5b0;
}

.btn-default:hover {
    color: #7a7d80;
    background-color: #ffffff;
    border-color: #004f46;
}

.btn-primary {
    color: #ffffff;
    background-color: #86b5b0;
    border-color: #86b5b0;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(0, 105, 92, .5);
}

.btn-primary:hover {
    background-color: #86b5b0;
    border-color: #004f46;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #004f46;
    border-color: #004f46;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    color: #ffffff;
    background-color: #86b5b0;
    border-color: #86b5b0;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(0, 105, 92, .5);
}

.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
    color: #ffffff;
    background-color: #86b5b0;
    border-color: #004f46;
}

.btn-default .count,
.btn-primary .count {
    border-color: #86b5b0;
}

.btn-default:hover  .count,
.btn-primary:hover  .count {
    border-color: #004f46;
}

form {
    margin-bottom: 15px;
}

.buttons button,
.buttons a {
    margin-right: 15px;
}

.buttons button:last-child,
.buttons a:last-child {
    margin-right: 0;
}

/* -------------------------------------- MODAL -------------------------------------- */

.modal-content {
    border: none;
    border-radius: 10px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .2);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .2);
}

.modal-header {
    border-radius: 10px 10px 0 0;
    background-color: #86b5b0;
}

.modal-header h4 {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    text-shadow: 0 1px 0 rgba(0, 105, 92, .5);
}

.modal-header .close {
    color: #ffffff;
    font-size: 36px;
    line-height: .8;
    /*font-weight: bold;*/
    text-shadow: 0 1px 0 rgba(0, 105, 92, .5);
    opacity: .5;
}

.modal-header .close:hover {
    opacity: 1;
}

.modal-result {
    display: none;
}

.modal-backdrop {
    background-color: #ffffff;
}

.modal-backdrop.in {
    opacity: .9;
}

/* POPOVERS */

.ui-user-popover {
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    top: 50px;
    left: 50px;
    margin-top: -25px;
    margin-left: -25px;
    z-index: 10;
    border-radius: 50%;

    background: rgba(255,255,255,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 70%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(70%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,0)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 70%, rgba(255,255,255,0) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 70%, rgba(255,255,255,0) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 70%, rgba(255,255,255,0) 100%);
    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 70%, rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
}

.ui-user-popover .exclamation {
    position: absolute;
    color: #ff6600;
    width: 18px;
    height: 18px;
    top: 50%;
    left: 50%;
    font-size: 24px;
    margin-top: -12px;
    margin-left: -6px;
    font-family: 'Shadows Into Light', Helvetica, Arial, sans-serif;
}

.ui-user-popover .circle {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid #ff6600;
    -webkit-animation: ui-userPopoverScaleDelay 1.6s infinite linear;
    animation: ui-userPopoverScaleDelay 1.6s infinite linear;
    transform: scale(0, 0);
    opacity: 0;
}

.ui-user-popover .circle + .circle {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.ui-user-popover .circle + .circle + .circle {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.popover {
    min-width: 200px;
    padding: 0;
}

.popover.top > .arrow:after {
    border-top-color: #86b5b0;
}
.popover.bottom > .arrow:after {
    border-bottom-color: #86b5b0;
}
.popover.right > .arrow:after {
    border-right-color: #86b5b0;
}
.popover.left > .arrow:after {
    border-left-color: #86b5b0;
}

.popover-title {
    background-color: #86b5b0;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(0, 105, 92, .5);
    padding: 12px 14px;
}

.popover-footer {
    padding: 15px;
    text-align: right;
}

@-webkit-keyframes ui-userPopoverScaleDelay {
    0% {
        -webkit-transform: scale(0, 0);
        transform: scale(0, 0);
        opacity: 0;
    }
    25% {
        -webkit-transform: scale(.5, .5);
        transform: scale(.5, .5);
        opacity: 1;
    }
    50%, 100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 0;
    }
}

@keyframes ui-userPopoverScaleDelay {
    0% {
        -webkit-transform: scale(0, 0);
        transform: scale(0, 0);
        opacity: 0;
    }
    25% {
        -webkit-transform: scale(.5, .5);
        transform: scale(.5, .5);
        opacity: 1;
    }
    50%, 100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 0;
    }
}

/* ------------------------------------ ANIMATIONS ------------------------------------ */

.eai-loading:before {
    display: inline-block;
    text-align: center;
    -webkit-animation: spin 1s infinite linear;
    -moz-animation: spin 1s infinite linear;
    -ms-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}

@-ms-keyframes spin {
    from {
        -ms-transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.sk-cube-grid {
    width: 40px;
    height: 40px;
    margin: 40px auto;
}

.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #00695c;
    /*background-color: #408f85;*/
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1,
.sk-cube-grid .sk-cube5,
.sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2,
.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4,
.sk-cube-grid .sk-cube8{
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

/* ------------------------------------ RESPONSIVE ------------------------------------ */

@media (min-width: 400px) {
    #brand {
        display: block;
    }
}

@media (min-width: 600px) {
    #brand {
        display: block;
    }

    .inner {
        padding: 20px;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #brand {
        display: block;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .wrapper {
        margin-left: 244px;
    }

    .flap.left {
        z-index: 3;
        left: 0 !important;
    }

    .flap.left .flap-inner {
        padding-top: 56px;
    }

    body.flap-opened.left #backdrop {
        display: none !important;
    }

    #brand {
        margin-left: 65px;
    }

    .inner {
        padding: 40px;
    }

    #toggle-nav {
        display: none;
    }

    .bar .wrap {
        float: none !important;
        margin: 9px 244px 0 244px !important;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .wrapper {
        margin-right: 244px;
    }

    .flap.right {
        z-index: 4;
        right: 0 !important;
        /*padding-bottom: 32px;*/
    }

    .flap.right .flap-inner {
        padding-top: 56px;
    }

    body.flap-opened.right #backdrop {
        display: none !important;
    }
}
