{% load staticfiles %}

<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PubStream | Your Guide to Scientific Publications</title>

    <meta name="robots" content="noodp,noydir"/>
    <meta name="description" content="PubStream is a cloud-based, big data service to scientific publications readers which provided a stream of curated scientific articles based on the reader interest."/>
    <link rel="canonical" href="http://pubstream.io/" />
{#    <link rel="publisher" href="http://google.com/+Briteyield-Vacation-Rental-Pricing"/>#}
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Your Guide to Scientific Publications | PubStream" />
    <meta property="og:description" content="" />
    <meta property="og:url" content="http://pubstream.io/" />
    <meta property="og:site_name" content="PubStream" />
{#    <meta property="article:publisher" content="https://www.facebook.com/BriteYield" />#}
{#    <meta property="og:image" content="http://briteyield.com/photos/miniscreen.jpg" />#}
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:description" content="PubStream is a cloud-based, big data service to scientific publications readers which provided a stream of curated scientific articles based on the reader interest."/>
    <meta name="twitter:title" content="Your Guide to Scientific Publications | PubStream"/>
    <meta name="twitter:site" content="@pubstream.io"/>
    <meta name="twitter:domain" content="PubStream"/>
    <meta name="twitter:creator" content="@pubstream.io"/>
    <meta itemprop="description" content="PubStream is a cloud-based, big data service to scientific publications readers which provided a stream of curated scientific articles based on the reader interest.">

    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
    {#    <link href="{% static 'css/base.css' %}" rel="stylesheet">#}
    <link href="{% static 'css/invite.css' %}" rel="stylesheet">

    <script>
    </script>
</head>

<body>
    <div class="landing">
        <div class="animated fadeInDown">
            <div class="intro-header">
                <img class="img-logo" src="{% static 'img/mark_v8.png' %}">
                <h1>Your Guide to Scientific Publications</h1>
                <h2>Scientific publications recommended daily. </br> Fully automated and personalized based on your library.</h2>
            </div>
        </div>
        <div class="middle text-center animated fadeInDown">
            <div>
                <div class="m-b-md" style="height:130px;">
                </div>
                <form class="m-t" role="form" method="POST" action="{% url 'invite:request-invite' %}">
                    <div class="form-group">
                        {% csrf_token %}
                        <input type="text" id="email" class="form-control" placeholder="Enter your email" required="">
                    </div>
                    <button id="sendControl" type="submit" class="btn btn-primary block full-width btn-lg">Request an Invite</button>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/csrf.js' %}"></script>
    <script type="text/javascript">jQuery(function(){jQuery('#email').focus()});</script>
    <script>
        $(document).ready(function() {
            $('#sendControl').on('click', function () {
               var email = $("#email").val();
                console.log($(this).parents('form').attr('action'));
                var url = $(this).parents('form').attr('action');
                if(email) {
                    $.ajax({
                        url: url,
                        context: document.body,
                        data: {'email': email},
                        type: 'POST',
                        success: function (data) {
                            console.log("Request Done");
                            $("#email").hide();
                            $("#sendControl").text("Thank You.");
                        },
                        error: function (err) {
                            console.log("Error Request");
                        }
                    });
                } else {
                    console.log("Invalid Field");
                }
                return false;
            });
        });
    </script>

</body>
</html>
