<div data-pin-placeholder></div>

<div data-cluster-placeholder></div>

<div data-timespan-placeholder></div>

<button id="toggle-search" class="btn-circle" type="button">
    <span class="eai eai-search"></span>
</button>

<div data-search-placeholder></div>
