<a href="javascript: void(0)" data-id="{{id}}" title="{{label}}"
   {{#if active}}class="active"{{/if}}>
    <!--<span class="filter-count">({{count}})</span>-->
    <span class="filter-checkbox"></span> {{label}}
</a>
