<a href="javascript: void(0)" class="filter-toggle">
    {{label}} <span class="eai eai-down"></span>
</a>
<div class="filter-filters collapse">
    <ul></ul>
    <a href="javascript: void(0)" class="filter-more">
        More filters&hellip;
    </a>
</div>
