<div class="inner">
    <ul>
        {{#each tabs as |tab|}}
        <li>
            <a href="javascript: void(0)" data-name="{{tab.name}}"{{#if tab.active }} class="active"{{/if}}>
                <span class="eai {{tab.icon}}"></span><strong>{{tab.title}}</strong>
                {{#ifCond tab.count '>' 0}}<span>({{tab.count}})</span>{{/ifCond}}
            </a>
        </li>
        {{/each}}
    </ul>
</div>
