<div class="inner">
    <ul>
        {{#each tabs as |tab|}}
        <li>
            <a href="javascript: void(0)" data-name="{{tab.name}}"{{#if tab.active }} class="active"{{/if}}>
                <strong>{{tab.title}}</strong> (<span>0</span>)
            </a>
        </li>
        {{/each}}
    </ul>
</div>
