<div class="modal invite-form" id="invite-modal" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-invite" id="gridSystemModalLabel">Invite a friend / a colleague to use Etalia</h4>
      </div>
      <div class="modal-body">
        <form role="form" method="POST" id="invite-form" data-async root-modal="#invite-modal" action="{% url "user:send-invite" %}">
            <span id="id_errors"></span>
            <div class="form-group">
                {% csrf_token %}
                <input type="text" id="email" name="email" class="form-control" placeholder="Email address" required="">
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default btn-md">Cancel</button>
                <button id="save-invite" type="submit" class="btn btn-primary btn-md">Send Invitation</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal invite-success" id="invite-success" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-success" id="gridSystemModalLabel">Invite a friend / a colleague to use Etalia</h4>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <h4>Invitation sent !</h4>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-default btn-md">Close</button>
      </div>
    </div>
  </div>
</div>