{% extends 'base.html' %}

{% load staticfiles %}

{% block css %}
    {{ block.super }}
    <link href="{% static 'css/library.css' %}" rel="stylesheet">
{% endblock css %}

{% block title %}
    Your Library
{% endblock title %}


{% block content %}
    {% if user.lib.state == 'ING' %}
        {% include "user/sync_lib_modal.html" %}
    {% endif %}
    <div class="container-fluid">
        <div class="library">
            <div class="row">
                <div class="col-lg-11 col-lg-offset-1">
                    <div class="col-md-8">
                        <div class="userlib">
                            {% include page_template %}
                        </div>
                    </div>
                    <div class="col-md-3 hidden-sm">
                        <div class="side-panel">
                            <div class="side-panel-title">My library statistics</div>
                            <div class="side-panel-inner">
                                <h5>{{ user.lib.count_papers }} papers</h5>
                                <h5>{{ user.lib.count_journals }} journals</h5>
                                <h5>{{ user.lib.count_authors }} authors</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
    <script>$.endlessPaginate({paginateOnScroll: true, paginateOnScrollMargin: 10});</script>
{% endblock content %}

{#{% block js %}#}
{#    {{ block.super }}#}
{#    <script src="http://code.jquery.com/jquery-latest.js"></script>#}
{#    <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>#}
{#    <script>$.endlessPaginate({paginateOnScroll: true, paginateOnScrollMargin: 40});</script>#}
{#{% endblock js %}#}