<!-- Modal Sign In -->
<div class="modal fade" root-modal id="signin-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign-in using <code>paperstream</code></h4>
      </div>
      <div class="modal-body">
        <form role="form" method="POST" id="signinForm" data-async data-target="#signin" action="{% url "user:signin" %}">
            {% csrf_token %}
            <span id="id_errors"></span>
            <div class="form-group">
                <label for="{{ form.username.id_for_label }}" class="control-label">Email:</label>
                <input type="email" name="username" class="form-control input-lg {% if form.username.errors %} alert alert-danger {% endif %}" placeholder="Email"
                       value={{ form.username.value|default_if_none:"" }}>
            </div>
            <div class="form-group">
                <label for="{{ form.password.id_for_label }}" class="control-label">Password:</label>
                <input type="password" name="password" class="form-control input-lg {% if form.password.errors %} alert alert-danger {% endif %}" placeholder="Password"
                       value="">
            </div>
            <div class="modal-footer center">
                <button type="submit" class="btn btn-primary btn-lg">Sign-in</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
