{% extends 'base.html' %}

{% load avatar_tags %}
{% load staticfiles %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/users.css' %}" type="text/css" >
{% endblock css %}

{% block title %} PubStream | Profile {% endblock %}


{% block content %}
<div class="container profile">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="col-md-3">
                <div id="avatar-section">
                    <div class="avatar">
                        {% avatar user 120 %}
                    </div>
                    <div class="change-avatar text-center">
                        <a class="edit" href="{% url 'user:avatar_change' %}">Edit this photo</a>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div id="names-section">
                    <h3>
                        <span class="has-value {% if object.first_name or object.last_name %}{% else %} hidden {% endif %}">
                            <span id="first_name">{{ object.first_name }}</span>
                            <span id="last_name">{{ object.last_name }}</span>
                        </span>
                        <span class="has-no-value {% if object.first_name or object.last_name %} hidden {% endif %}">
                            <div class="empty">Add your name</div>
                        </span>
                        <a class="edit" href="javascript:" data-toggle="modal" data-target="#names-modal">edit</a>
                    </h3>
                </div>
                <div id="title-section">
                    <h5>
                        <span class="has-value {% if object.title %}{% else %} hidden {% endif %}">
                            <span id="title">{{ object.title }}</span>
                        </span>
                        <span class="has-no-value {% if object.title %} hidden {% endif %}">
                            <div class="empty">Add your title</div>
                        </span>
                        <a class="edit" href="javascript:" data-toggle="modal" data-target="#title-modal">edit</a>
                    </h5>
                </div>
                <div id="position-section">
                    <h5>
                        <span class="has-value {% if object.position %}{% else %} hidden {% endif %}">
                            <span id="position">{{ object.position }}</span>
                        </span>
                        <span class="has-no-value {% if object.position %} hidden {% endif %}">
                            <div class="empty">Add your position</div>
                        </span>
                        <a class="edit" href="javascript:" data-toggle="modal" data-target="#position-modal">edit</a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <hr class="divider">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 affiliation">
            <div class="col-md-3 text-right">
                <div class="title">
                    Affiliation
                </div>
            </div>
            <div class="col-md-9">
                <div id="affiliation-section">
                    <h5>
                        <span class="has-value {% if object.affiliation.is_empty %}hidden{% endif %}">
                            <span id="print-affiliation">{{ object.affiliation.print_affiliation }}</span>
{#                            <span id="department">{{ object.affiliation.department }}</span>#}
{#                            <span id="institution">{{ object.affiliation.institution }}</span>#}
{#                            <span id="city">{{ object.affiliation.city }}</span>#}
{#                            <span id="state">{{ object.affiliation.state }}</span>#}
{#                            <span id="country">{{ object.affiliation.country }}</span>#}
                        </span>
                        <span class="has-no-value {% if not object.affiliation or object.affiliation.is_empty  %}{% else %}hidden{% endif %}">
                            <div class="empty">Add your affiliation</div>
                        </span>
                        <a class="edit" href="javascript:" data-toggle="modal" data-target="#affiliation-modal">edit</a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <hr class="divider">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="col-md-3 text-right">
                <h4>Library</h4>
            </div>
            <div class="col-md-9">
                <h5>Your library is in sync with {{ user.social_auth.first.provider|capfirst }} </h5>
                <h5>{{ library_counter }} publications in PubStream</h5>
                <h5>{{ likes_counter }} publications liked</h5>
            </div>
        </div>
    </div>
    <hr class="divider">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="col-md-3 text-right">
                <h4>Delete account</h4>
            </div>
            <div class="col-md-9">
                <form role="form" method="GET" action="{% url 'user:delete-user' %}">
                    <button id="delete" type="submit" class="btn btn-danger btn-md">Delete</button>
                </form>
            </div>
        </div>
    </div>

    {% include 'user/profile_modal.html' %}

</div>


{% endblock content %}

{% block js %}
    {{ block.super }}
     <script type="text/javascript" src="{% static 'js/user.js' %}"></script>
{% endblock js %}