<div class="modal" id="settings-modal" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Update stream settings</h4>
      </div>
      <div class="modal-body">
        <form role="form" method="POST" id="settings-form" root-modal="#settings-modal" data-async data-target="#settings-section" action="{% url "user:update-settings" %}">
            {% csrf_token %}
            <span id="id_errors"></span>
            {% for field in form_settings %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            {% endfor %}
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default btn-md">Close</button>
                <button id="save-settings" type="submit" class="btn btn-primary btn-md">Save</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>