{% extends 'layout.html' %}


{% load staticfiles %}


{% block title %}{{ block.super }} - Sign-Up{% endblock %}


{% block content %}
{% spaceless %}
<div class="document">
    <div id="signup-form">
        <h3>
            {% if has_email %}
                Please, edit this info if incorrect
            {% else %}
                Please, fill up this short form
            {% endif %}
        </h3>

        <form role="form" method="POST" data-async action="{% url 'user:require-basic-info' %}">
            {% csrf_token %}
            <span id="id_errors"></span>

            <div class="form-inner">
                {% for field in form %}
                <div class="form-group">
                    {{ field }}
                </div>
                {% endfor %}
            </div>

            <div class="text-center submit">
                <button id="signup" type="submit" class="btn btn-primary btn-lg">Done</button>
            </div>
        </form>

        <div class="form-footer">
            By clicking on the done button, your are allowing Etalia to access the data that you store in your reference software manager.
            This information will not be shared with any other entity without your consent.
        </div>
    </div>
</div>
{% endspaceless %}
{% endblock content %}


{% block javascript %}
<script src="{% static 'js/require.js' %}"></script>
<script>
    requirejs(['{% static "js/common.js" %}'], function () {
        requirejs(['app/user/signup']);
    });
</script>
{% endblock javascript %}
