<!-- User library syncing modal view -->
<div class="initializing" id="updating-block">
    <div class="container">
        <div class="row">
            <div class="modal in display hide" id="updating-modal">
                <div class="modal-body text-center">
{#                    <h3>Updating</h3>#}
                    <div class="sk-spinner sk-spinner-three-bounce">
                       <div class="sk-bounce1"></div>
                       <div class="sk-bounce2"></div>
                       <div class="sk-bounce3"></div>
                    </div>
                    <h3>
                        <span id="update-step"></span>
                        <span id="update-message"></span>
                    </h3>

                    <h4>Please wait</h4>
                </div>
            </div>
            <div class="modal-backdrop fade in hide" id="updating-modal-backdrop"></div>
        </div>
    </div>
</div>