<h2 id="paper-related-threads">Related threads</h2>
<ul class="related-threads-timespan-selector">
    <li>
        <a href="javascript: void(0)" data-value="365">1 year</a>
    </li>
    <li class="active">
        <a href="javascript: void(0)" data-value="30">1 month</a>
    </li>
    <li>
        <a href="javascript: void(0)" data-value="7">Week</a>
    </li>
</ul>
<div data-related-threads-list-placeholder></div>
