/* CSS for feed app*/

.feed {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    padding-top: 70px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: left;
    color: #000000;
    background: #f8f8f8;
    margin-bottom: 0px;
}

.userfeed {
    padding-top: 20px;
}

.userfeed>a {
    text-decoration: None;
    color: #000000;
}

.paper-list {
    padding: 5px;
    position: relative;
}

.paper-list a {
    text-decoration: None;
    color: #000000;
}

.paper-list:hover {
    background-color: #f1f1f1;
}

.compact {
    padding-right: 35px;
    padding-left: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.compact .title {
    font-size: 18px;
    line-height: 1.4;
}

.compact .authors-journal-date {

}

.compact .authors {
    text-decoration: None;
    color: #808080;
}

.stamps {
    position: absolute;
    top: 20px;
    right: 10px;
    display: none;
}

.stamps>a:before {
    content:"";
    display: inline-block;
    /*background-image: url(../img/paper_feed_icons_h25_s60px_alpha.png);*/
    background-image: url(../img/paper_icons.svg);
    background-size: auto 65px;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position-y: 5px;
}

.stamps>a.open:before {
    background-position-x: -0px;
}
.stamps>a.like:before {
    background-position-x: -50px;
}
/*.stamps>a.dislike:before {*/
    /*background-position-x: -115px;*/
/*}*/
.stamps>a.tick:before {
    background-position-x: -100px;
}
.stamps>a:hover:before
{
    background-position-y: -31px;
}

.stamps>a.active:before {
    background-position-y: -31px;
}

/* Stamps 2 */
.compact .stamps-2 {
    position: absolute;
    top: 20px;
    right: 10px;
}
.compact .stamps-2>span:before {
    content:"";
    display: none;
    background-image: url(../img/paper_icons.svg);
    background-size: auto 65px;
    width: 40px;
    height: 40px;
    position: relative;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position-y: 5px;
}

.compact .stamps-2>span.like:before {
    background-position-x: -50px;
}

.compact .stamps-2>span.active:before {
    display: inline-block;
    background-position-y: -31px;
}

.extended {
    display: none;
    background-color: #f1f1f1;
    padding: 20px;
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
}

.extended .stamps {
    display: inline-block;
}

.extended .title {
    width: 75%;
    font-size: 18px;
    line-height: 1.4;
}

.extended .journal-date {
    padding-top: 5px;
}

.extended .authors {
    padding-top: 5px;
    text-decoration: None;
    color: #808080;
}

.extended .abstract {
    padding-top: 10px;
}

.side-panel {
    padding-top: 30px;
}

.side-panel .side-panel-inner {
    padding-left: 10px;
}

.side-panel .side-panel-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.1;
    margin-top: 0px;
    margin-bottom: 0px;
}

.endless_more {
    background: url(../img/triple_dots_orange.png) left top no-repeat;
    overflow: hidden;
    position: absolute;
    left: 47%;
    bottom: -80px;
    margin: 0 auto;
    display: block;
    text-indent: 200%;
    white-space: nowrap;
    height: 60px;
    width: 60px;
    z-index: 99;
}

.endless_loading {
    background: url(../img/triple_dots_blue.png) left top no-repeat;
    overflow: hidden;
    position: absolute;
    left: 47%;
    bottom: -80px;
    margin: 0 auto;
    display: block;
    text-indent: 200%;
    white-space: nowrap;
    height: 60px;
    width: 60px;
    z-index: 99;
}

.altmetric {
    position: absolute;
    left: -70px;
}