/* CSS for library app*/

.library {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    padding-top: 70px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: left;
    color: #000000;
    background: #f8f8f8;
    margin-bottom: 0px;
}

.userlib {
    padding-top: 20px;
}

.userlib>a {
    text-decoration: None;
    color: #000000;
}

.paper-list {
    padding: 5px;
}

.paper-list .altmetric {
    position: absolute;
    left: -70px;
}

.paper-list a {
    text-decoration: None;
    color: #000000;
}

.paper-list:hover {
    background-color: #f1f1f1;
}

.paper-list .title {
    font-size: 18px;
    line-height: 1.4;
}

.paper-list .authors-journal-date {

}

.paper-list .authors {
    text-decoration: None;
    color: #808080;
}

.compact {
    padding-right: 35px;
    padding-left: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.side-panel {
    padding-top: 30px;
}

.side-panel .side-panel-inner {
    padding-left: 10px;
}

.side-panel .side-panel-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.1;
    margin-top: 0px;
    margin-bottom: 0px;
}

.paper {
    padding-top: 20px;
}

.paper .title {
    font-size: 30px;
    line-height: 1.4;
}

.paper .authors {
    font-size: 20px;
    line-height: 1.4;
    color: #808080;
}

.paper .journal {
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1.4;
    margin-top: 0px;
    margin-bottom: 0px;;
    padding-right: 10px;
}

.paper .date {
    padding-left: 10px;
}

.paper .abstract {
    margin-bottom:50px;
}

.paper .ids {
}

.paper .abstract-title {
    margin-top: 20px;
    font-size: 20px;
}
.paper .abstract-body {
    margin-top: 10px;
}

.paper .altmetric {
    position: relative;
}

.stamps {
    position: relative;
    padding-top: 10px;
    padding-left: 0;
}

.stamps>li {
    display: inline;
    padding: 0;
    list-style: none;
}

.stamps>li>a:before {
    content:"";
    display: inline-block;
    background: transparent url(../img/paper_icons.png) 0 0 no-repeat;
    background-size: auto 70px;
    width: 40px;
    height: 40px;
    background-position-y: 5px;
}

.stamps>li>a:hover:before {
    background-color: #f1f1f1;
}

.stamps>li>a.add-to-library:before {
    background-position-x: -235px;
}

.stamps>li>a.loading:before {
    pointer-events: none;
    background-position-x: -611px;
    background-position-y: 7px;
    animation-name: fa-spin;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: initial;
    animation-iteration-count: infinite;
    animation-direction: initial;
    animation-fill-mode: initial;
    animation-play-state: initial;
}
.stamps>li>a.loading:hover:before {
    background-color: transparent;
}
.stamps>li>a.like:before {
    background-position-y: -33px;
    background-position-x: -40px;
}
.stamps>li>.like.active:before {
    background-position-y: 5px;
}

.stamps>li>a.go-to-pdf:before {
    background-position-x: -182px;
}
.stamps>li>a.trash:before {
    background-position-x: -375px;
}
.stamps>li>a.email:before {
    background-position-x: -328px;
}
.stamps>li>a.tweet:before {
    background-position-x: -420px;
}
.stamps>li>a.google-plus:before {
    background-position-x: -468px;
}



.neighbors {
    padding-top: 10px;
}

.neighbors .title {
    font-size: 20px;
}

.neighbors a {
    color: #000000;
}

.neighbors-list a {
    color: #000000;
    text-decoration: none;
}

.neighbor:hover {
    background-color: #f1f1f1;
}

.neighbor {
    padding-top: 5px;
    padding-bottom: 5px;
}

.neighbor .authors {
    color: #808080;
    font-size: 13px;
}

.comment {
    padding-top: 20px;
}

.endless_more {
    background: url(../img/triple_dots_orange.png) left top no-repeat;
    overflow: hidden;
    position: absolute;
    left: 47%;
    bottom: -80px;
    margin: 0 auto;
    display: block;
    text-indent: 200%;
    white-space: nowrap;
    height: 60px;
    width: 60px;
    z-index: 99;
}

.endless_loading {
    background: url(../img/triple_dots_blue.png) left top no-repeat;
    overflow: hidden;
    position: absolute;
    left: 47%;
    bottom: -80px;
    margin: 0 auto;
    display: block;
    text-indent: 200%;
    white-space: nowrap;
    height: 60px;
    width: 60px;
    z-index: 99;
}