
.paper-list {
    position: relative;
    cursor: pointer;
}

.paper-list a {
    text-decoration: None;
    color: #000000;
}

.bg-active {
    /*background-color: #feefee;*/
}

/* Paper list formats */

.compact {
    padding: 20px;
    margin-right: 15px;
    margin-left: 15px;
    /*-moz-box-shadow: 0 0 3px rgba(255, 182, 41, 0.34);*/
    /*-webkit-box-shadow: 0 0 3px rgba(255, 182, 41, 0.34);*/
    /*box-shadow: 0 0 5px rgba(255, 182, 41, 0.34);*/
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 5px #ccc;
    background-color: #ffffff;
    /*border: 1px solid #fdb42b;*/
}

.bg-active {
    /*background-color: #feefee;*/
}

.compact .short {
    width: calc(100% - 100px);
}

.compact .long {
    width: 100%;
}

.compact .title {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.4;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /*width: 100%*/
}

.compact .authors-journal-date {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /*width: 100%*/
}

.compact .authors {
    text-decoration: None;
    color: #808080;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.extended {
    display: none;
    padding: 20px 35px 20px 35px;
    margin-top: 15px;
    margin-bottom: 20px;
    -moz-box-shadow: 0 0 20px #ccc;
    -webkit-box-shadow: 0 0 20px #ccc;
    box-shadow: 0 0 20px #ccc;
    background-color: #ffffff;
    z-index: 99;
}

.extended .title {
    font-size: 18px;
    /*font-weight: 700;*/
    line-height: 1.2;
    padding-bottom: 10px;
}

.extended .journal-date {
    padding-top: 10px;
}

.extended .authors {
    line-height: 1.7;
    text-decoration: None;
    color: #808080;
}

.extended .abstract {
    padding-top: 20px;
}

/* Endless icons */

.endless_more {
    background: url(../img/triple_dots_orange.png) left top no-repeat;
    overflow: hidden;
    position: absolute;
    left: 47%;
    bottom: -80px;
    margin: 0 auto;
    display: block;
    text-indent: 200%;
    white-space: nowrap;
    height: 60px;
    width: 60px;
    z-index: 99;
}

.endless_loading {
    background: url(../img/triple_dots_blue.png) left top no-repeat;
    overflow: hidden;
    position: absolute;
    left: 47%;
    bottom: -80px;
    margin: 0 auto;
    display: block;
    text-indent: 200%;
    white-space: nowrap;
    height: 60px;
    width: 60px;
    z-index: 99;
}

/* Stamps */

.stamps {
    position: absolute;
    right: 25px;
    top: 15px;
    padding-left: 0px;
    display: none;
}

.stamps li {
    display: inline;
    list-style: none;
}

.stamps li>a::before {
    content:"";
    display: inline-block;
    background: transparent url(../img/paper_icons.png) 0 0 no-repeat;
    background-size: auto 70px;
    width: 30px;
    height: 40px;
    background-position-y: -30px;
}
.stamps li>a.open::before {
    background-position-x: -0px;
}
.stamps li>a.like::before {
    background-position-x: -45px;
}
.stamps li>a.tick::before {
    background-position-x: -93px;
}
.stamps li>a.add-to-lib::before {
    background-position-x: -240px;
}
.stamps li>a.trash::before {
    background-position-x: -380px;
}
.stamps li>a.restore::before {
    background-position-x: -760px;
}
.stamps li>a.loading::before {
    background-position-x: -616px;
    pointer-events: none;
    background-position-y: 7px;
    animation-name: fa-spin;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: initial;
    animation-iteration-count: infinite;
    animation-direction: initial;
    animation-fill-mode: initial;
    animation-play-state: initial;
}
.stamps li>a.more::before {
    width: 30px;
    background-position-x: -135px;
}
.stamps li>a:hover::before
{
    background-position-y: 8px;
}
.stamps li>a.active::before {
    background-position-y: 8px;
}

/*stamps extended*/
.stamps-ext {
    position: relative;
    padding-top: 60px;
    padding-left: 35px;
    font-size: 0.8em;
}

.stamps-ext>li {
    list-style: none;
    margin-right: -35px;
    margin-left: -10px;
    padding-left: 10px
}
.stamps-ext>li>a::before {
    content:"";
    display: inline-block;
    vertical-align: -80%;
    background: transparent url(../img/paper_icons.png) 0 0 no-repeat scroll;
    background-size: auto 60px;
    width: 40px;
    height: 35px;
    /*background-position-y: -25px;*/
    background-position-y: 5px;
}

.stamps-ext>li>a.go-to-pdf::before {
    background-position-x: -155px;
}

.stamps-ext>li>a.add-to-library::before {
    background-position-x: -198px;
    /*background-position-y: -27px;*/
}
.stamps-ext>li>a.trash::before {
    background-position-x: -319px;
}

.stamps-ext>li>a.restore::before {
    background-position-x: -500px;
}

.stamps-ext>li>a.comment::before {
    background-position-x: -236px;
}

.stamps-ext>li>a.email::before {
    background-position-x: -277px;
}

.stamps-ext>li>a.tweet::before {
    background-position-x: -358px;
}

.stamps-ext>li>a.google-plus::before {
    background-position-x: -398px;
}

.stamps-ext>li:hover {
    /*background-position-y: -48px;*/
    background-color: #ebebeb;
}

.stamps-ext>li>a.active::before {
    background-position-y: -48px;
}

.stamps-ext>li>a.loading::before {
    pointer-events: none;
    background-position-x: -522px;
    background-position-y: 6px;
    animation-name: fa-spin;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: initial;
    animation-iteration-count: infinite;
    animation-direction: initial;
    animation-fill-mode: initial;
    animation-play-state: initial;
}

.altmetric {
    position: absolute;
    left: -70px;
    z-index: 0;
}

.dropdown-menu>li>a {
    padding-left: 15px;
}
.dropdown-menu>li>a::before{
    content:"";
    display: inline-block;
    vertical-align: -40%;
    margin-top: 5px;
    background: transparent  url(../img/paper_icons.png) -380px +30px no-repeat scroll;
    background-size: auto 40px;
    width: 20px;
    height: 20px;
}
.dropdown-menu>li>a.active::before{
    background-position-y: 0px;
}

.header {
}

.header .sort-by {
    display: inline-block;
    padding-top: 20px;
    padding-right: 20px;
    margin-right: auto;
}

.header button:focus {
    outline: 0;
}

.header .likes {
    display: inline-block;
    padding-bottom: 0px;
}

.header .like-img-crop {
    width: 90px;
    height: 50px;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    border: 0;
    margin-top: 10px;
}

.header .like-img {
    width: 80px;
    margin-top: -45px;
}

.header .active {
    margin-top:4px;
}