
.paper-list {
    position: relative;
    cursor: pointer;
}

.paper-list a {
    text-decoration: None;
    color: #000000;
}


.bg-active {
    background-color: #feefee;
}

/* Paper list formats */

.compact {
    padding-right: 35px;
    padding-left: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 15px;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
}

.compact:hover {
    background-color: #f1f1f1;
}

.bg-active {
    background-color: #feefee;
}

.compact .title {
    font-size: 18px;
    line-height: 1.4;
}

.compact .authors-journal-date {

}

.compact .authors {
    text-decoration: None;
    color: #808080;
}

.short {
    display: none;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.extended {
    display: none;
    background-color: #f1f1f1;
    padding-right: 35px;
    padding-left: 35px;
    padding-top: 10px;
    padding-bottom: 10px;

    margin-top: 20px;
    margin-bottom: 20px;
    -moz-box-shadow: 0 0 20px #ccc;
    -webkit-box-shadow: 0 0 20px #ccc;
    box-shadow: 0 0 20px #ccc;
}

.extended .title {
    font-size: 18px;
    line-height: 1.4;
}

.extended .journal-date {
    padding-top: 5px;
}

.extended .authors {
    /*padding-top: 5px;*/
    text-decoration: None;
    color: #808080;
}

.extended .abstract {
    padding-top: 10px;
}

/* Endless icons */

.endless_more {
    background: url(../img/triple_dots_orange.png) left top no-repeat;
    overflow: hidden;
    position: absolute;
    left: 47%;
    bottom: -80px;
    margin: 0 auto;
    display: block;
    text-indent: 200%;
    white-space: nowrap;
    height: 60px;
    width: 60px;
    z-index: 99;
}

.endless_loading {
    background: url(../img/triple_dots_blue.png) left top no-repeat;
    overflow: hidden;
    position: absolute;
    left: 47%;
    bottom: -80px;
    margin: 0 auto;
    display: block;
    text-indent: 200%;
    white-space: nowrap;
    height: 60px;
    width: 60px;
    z-index: 99;
}

/* Stamps */

.stamps {
    position: absolute;
    right: 15px;
    top: 15px;
    padding-left: 0px;
    display: none;
}

.stamps>li {
    display: inline;
    list-style: none;
}

.stamps>li>a::before {
    content:"";
    display: inline-block;
    background: transparent url(../img/paper_icons.png) 0 0 no-repeat;
    background-size: auto 70px;
    width: 30px;
    height: 40px;
    background-position-y: -30px;
}
.stamps>li>a.open::before {
    background-position-x: -0px;
}
.stamps>li>a.like::before {
    background-position-x: -45px;
}
.stamps>li>a.tick::before {
    background-position-x: -93px;
}
.stamps>li>a.add-to-lib::before {
    background-position-x: -240px;
}
.stamps>li>a.trash::before {
    background-position-x: -380px;
}
.stamps>li>a.loading::before {
    background-position-x: -616px;
    pointer-events: none;
    background-position-y: 7px;
    animation-name: fa-spin;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: initial;
    animation-iteration-count: infinite;
    animation-direction: initial;
    animation-fill-mode: initial;
    animation-play-state: initial;
}
.stamps>li>a.more::before {
    width: 20px;
    background-position-x: -140px;
}
.stamps>li>a:hover::before
{
    background-position-y: 8px;
}
.stamps>li>a.active::before {
    background-position-y: 8px;
}

/*stamps extended*/
.stamps-ext {
    position: relative;
    padding-top: 50px;
    padding-left: 20px;
    font-size: 0.8em;
}

.stamps-ext>li {
    list-style: none;
}
.stamps-ext>li>a::before {
    content:"";
    display: inline-block;
    vertical-align: -80%;
    background: transparent url(../img/paper_icons.png) 0 0 no-repeat scroll;
    background-size: auto 60px;
    width: 40px;
    height: 35px;
    /*background-position-y: -25px;*/
    background-position-y: 5px;
}

.stamps-ext>li>a.go-to-pdf::before {
    background-position-x: -155px;
}

.stamps-ext>li>a.add-to-library::before {
    background-position-x: -198px;
    /*background-position-y: -27px;*/
}
.stamps-ext>li>a.trash::before {
    background-position-x: -319px;
}

.stamps-ext>li>a.comment::before {
    background-position-x: -236px;
}

.stamps-ext>li>a.email::before {
    background-position-x: -277px;
}

.stamps-ext>li>a.tweet::before {
    background-position-x: -358px;
}

.stamps-ext>li>a.google-plus::before {
    background-position-x: -398px;
}

.stamps-ext>li:hover {
    /*background-position-y: -48px;*/
    background-color: #ebebeb;
}

.stamps-ext>li>a.active::before {
    background-position-y: -48px;
}

.stamps-ext>li>a.loading::before {
    pointer-events: none;
    background-position-x: -522px;
    background-position-y: 6px;
    animation-name: fa-spin;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: initial;
    animation-iteration-count: infinite;
    animation-direction: initial;
    animation-fill-mode: initial;
    animation-play-state: initial;
}

.altmetric {
    position: absolute;
    left: -70px;
}
