/* side panel */
.side-panel {
    padding-top: 30px;
}

.side-panel-section {
    padding-bottom: 20px;
}

.side-panel .side-panel-inner {
}

.side-panel .side-panel-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.1;
}

.side-panel .side-panel-title>a:hover {
    text-decoration: underline;
}

.side-panel .checkbox {
    margin: 0;
    padding: 2px;
}

.side-panel li {
    list-style: none;
}

.side-panel li:hover {
    background-color: #e1e1e1;
}

.side-panel ul {
    padding-left: 0;
    margin-bottom: 0;
}

.side-panel .active, .side-panel .active a {
    /*background-color: #feefee;*/
    color: #000000;
}

.side-panel .long>a:hover {
    text-decoration: underline;
}
.side-panel .short {
    display: none;
}
.side-panel .short>a:hover {
    text-decoration: underline;
}

.side-panel button.only {
    background:none;
    border:none;
    position: absolute;
    right: 10px;
    bottom:0px;
}

.side-panel button.all {
    background:none;
    border:none;
    font-size: 14px;
    padding-right: 5px;
    color: #000000;
}

.side-panel button.show-more {
    background:none;
    border:none;
    /*font-style: italic;*/
}

.side-panel button:hover {
    text-decoration: underline;
}

.side-panel button:focus {
    outline: none;
}


.side-panel .author, .side-panel .journal {
    display: none;
}

