/* CSS for feed app*/

.trend {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    padding-top: 70px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: left;
    color: #000000;
    background: #f8f8f8;
    margin-bottom: 0px;
}

.usertrend {
    padding-top: 20px;
}

.usertrend h3,
.usertrend h5 {
    padding-left: 20px;
}

.usertrend>a {
    text-decoration: None;
    color: #000000;
}