{% extends 'base.html' %}

{% load staticfiles %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/streams.css' %}" type="text/css" >
{% endblock css %}

{% block title %}
    User Feed
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="feed">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <h3> Pick papers from your library to seed feed: <code>{{ userfeed.name }}</code></h3>
                    {% if not userfeed.name == 'main' %}
                        <a href="{% url 'feeds:delete-feed' userfeed.pk %}">(Delete)</a>
                    {% endif %}
                    <a href="">(Change Name)</a>
                    <a href="{% url 'feeds:feed' userfeed.pk %}"><button>Save</button></a>
                    {{ userfeed.papers_seed.count }} papers selected
                    <table id="papers_table_id" class="table table-hover">
                        <tr>
                            <td><h5>Authors</h5></td>
                            <td><h5>Title</h5></td>
                            <td><h5>Published</h5></td>
                            <td><h5>Added</h5></td>
                        </tr>
                        {% for paper in object_list %}
                            <tr id="{{ paper.pk }}" seed-paper {% if paper.pk in seed_pks %} class="success" {% endif %}>
                                <td>{{ paper.print_compact_first_author }}</td>
                                <td id="paper_title">{{ paper.short_title }}</td>
                                <td>{{ paper.print_date }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    <!-- Pagination bar -->
                    {% if is_paginated %}
                        <ul class="pager">
                            {% if page_obj.has_previous %}
                                <li><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                            {% endif %}
                            <span class="page-current">
                          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                          </span>
                            {% if page_obj.has_next %}
                                <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
    </div>
{% endblock content %}
